---
permalink: /films/pebble.html
title: Pebble

stylesheets: [
    "/styles/films/style_pebble.css"
]

license: CC-BY
---

<main id="content">
	<div class="title">
		<img src="/images/films/pebble/title.svg">
	</div>

	<div class="space-small"></div>

	<div class="video">
		<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/XxYpCoVryWY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<div class="space"></div>

	<div class="description">
		<h2>Plot</h2>
		<p>Pebble, a unique caterpillar made of pebbles, is determined to reach a green leaf</p>
	</div>

	<div class="buttons">
		<a class="downstart" href="https://mega.nz/file/8IhBQSzQ#_LBVp9li12LxWmdA9arfyalpILxS1Ej1x9imMIIGcGE">Lossless</a>

		{%- if license -%}
			<button class="collapsible downend">License</button>
			<div class="collap license">
				<p>{{ license }}</p>
				{%- if licenses_list[license].logo -%}
					<div>
						{%- for logo in licenses_list[license].logo -%}
							<img src="{{ logo }}">
						{%- endfor -%}
					</div>
				{%- endif -%}
			</div>
		{%- endif -%}
	</div>

	<div class="space"></div>

	<h2>Description</h2>
	<div class="halfpage">
		<div class="column1">
			<img src="/images/films/pebble/poster.webp">
		</div>
		<div class="column2">
			<p>This is our first short film and it's completely made with Blender.<br>
		For this film we used only open source software as we want to prove that it's possible to make content with open source software only.<br>
		Some assets were ready (like the trees from our Real Trees add-on), but we still had to make the microscopic pebbles, leaves and other details in order to provide that touch of realism that we based the film on.</p>
		</div>
	</div>

	<div class="space"></div>

	<h2>Credits</h2>
	<div class="credits">
		<div class="member">
			<button class="collapsible">
				<img src="/images/logos/wolf.svg">
				<p>Joseph<br>Dowling</p>
			</button>
			<div class="roles">
				<p>Rigger<br>Advisor</p>
			</div>
		</div>
		<div class="member">
			<button class="collapsible">
				<img src="/images/logos/wolf.svg">
				<p>Marco<br>Pavanello</p>
			</button>
			<div class="roles">
				<p>Director<br>Producer<br>Music<br>Assets</p>
			</div>
		</div>
		<div class="member">
			<button class="collapsible">
				<img src="/images/logos/wolf.svg">
				<p>Nathan<br>Craddock</p>
			</button>
			<div class="roles">
				<p>Designer<br>Story</p>
			</div>
		</div>
	</div>

	<div class="space"></div>

	<h2>Software used</h2>
	<div class="supcontainer">
		<div class="container">
			<img src="/images/logos/Blender.svg">
			<p>Blender</p>
		</div>
		<div class="container">
			<img src="/images/logos/LMMS.svg">
			<p>LMMS</p>
		</div>
		<div class="container">
			<img src="/images/logos/Audacity.svg">
			<p>Audacity</p>
		</div>
		<div class="container">
			<img src="/images/logos/Krita.svg">
			<p>Krita</p>
		</div>
		<div class="container">
			<img src="/images/logos/GIMP.svg">
			<p>GIMP</p>
		</div>
		<div class="container">
			<img src="/images/logos/PureRef.svg">
			<p>PureRef</p>
		</div>
		<div class="container">
			<img src="/images/logos/Meshroom.svg">
			<p>Meshroom</p>
		</div>
		<div class="container">
			<img src="/images/logos/Storyboarder.svg">
			<p>Storyboarder</p>
		</div>
	</div>

	<div class="space"></div>

	<div class="concept-top">
		<div class="concept-image" style="background-image: url('/images/films/pebble/pebble_poster.webp')"></div>
		<div class="concept-filter-top"></div>
		<div class="concept-description concept-left">
			<h2>Pebble</h2>
			<p>Designed by Nathan Craddock, Pebble is a fantasy caterpillar made out of pebbles</p>
		</div>
	</div>
	<div class="concept-bottom">
		<div class="concept-image" style="background-image: url('/images/films/pebble/caterpillar_poster.webp')"></div>
		<div class="concept-filter-bottom"></div>
		<div class="concept-description concept-right">
			<h2>Caterpillar</h2>
			<p>Rigged by Joseph Dowling, Caterpillar is a secondary character, Pebble wants to be like him</p>
		</div>
	</div>

	<div class="space"></div>

	<div class="process">
		<h2>Behind the scenes</h2>
		<p>Quick slide showing some parts during the process in the making of the film</p>
		<div class="video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/__MpZINSzg4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<div class="space"></div>

		<p>The original storyboard made in Storyboarder</p>
		<div class="video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/qreDSpv0jns" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<div class="space"></div>

		<p>OpenGL version of the short film</p>
		<div class="video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/BHyeEEPzifk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>

	<div class="space"></div>
</main>

<script src="/scripts/collapsible.js" type="text/javascript"></script>
