---
permalink: /films/pebble.html
title: Pebble

stylesheets: [
    "/styles/films/style_pebble.css"
]
---

<main id="content">
	<h1>Pebble</h1>
	<div class="video">
		<iframe></iframe>
	</div>
	
	<div class="space"></div>

	<h2>Story</h2>
	<p>Pebble, a unique caterpillar made of pebbles, is determined to reach a green leaf</p>

	<div class="space"></div>

	<h2>Software used</h2>
	<div class="supcontainer">
		<div class="container">
			<img src="/images/logos/Blender.svg">
			<p>Blender</p>
		</div>
		<div class="container">
			<img src="/images/logos/GIMP.svg">
			<p>GIMP</p>
		</div>
		<div class="container">
			<img src="/images/logos/LMMS.svg">
			<p>LMMS</p>
		</div>
		<div class="container">
			<img src="/images/logos/Krita.svg">
			<p>Krita</p>
		</div>
		<div class="container">
			<img src="/images/logos/PureRef.svg">
			<p>PureRef</p>
		</div>
		<div class="container">
			<img src="/images/logos/Meshroom.svg">
			<p>Meshroom</p>
		</div>
		<div class="container">
			<img src="/images/logos/Storyboarder.svg">
			<p>Storyboarder</p>
		</div>
	</div>

	<div class="space"></div>
</main>