---
layout: base.njk
permalink: /films.html
title: Films

stylesheets: [
    "/styles/style_films.css"
]
---

<main id="content">
	<div class="space"></div>
	<div class="countdown">
		<div><span id="days"></span>Days</div>
		<div><span id="hours"></span>Hours</div>
		<div><span id="minutes"></span>Minutes</div>
		<div><span id="seconds"></span>Seconds</div>
	</div>
	<div class="space"></div>
	<h2>WIP...</h2>
</main>

<script src="/scripts/countdown.js" type="text/javascript"></script>
