---
layout: base.njk
permalink: /films.html
title: Films

stylesheets: [
    "/styles/style_films.css"
]
---

<main id="content">
	<div class="space"></div>

	<div class="films">
		<a href="pebble" class="pebble">
			<div class="box">
				<div>
					<img class="pebble-img" src="/images/films/pebble.svg">
				</div>
				<div>
					<h2>Pebble</h2>
					<p>Our first short film</p>
				</div>
			</div>
		</a>
	</div>
</main>
