---
layout: base.njk
permalink: /info.html
title: Info

members: [
	"marco"
]

stylesheets: [
    "/styles/style_info.css"
]
---

<main id="content">
	<div class="space-small"></div>
	
	<h2>Members</h2>
	<div class="wolves">
		{% for member in members %}
			<a title="{{members_list[member].name}}" href="{{members_list[member].link}}">
				<img src="/images/logos/wolf.svg">
				<p>{{members_list[member].name}}</p>
			</a>
		{% endfor %}
	</div>

	<div class="space"></div>

	<div class="information">
		<h2>Who</h2>
		<p>We are a group of artists</p>

		<div class="space-small"></div>

		<h2>What</h2>
		<p>We use Blender for making free and paid tools but also movies</p>
	</div>

	<div class="space"></div>

	<div class="social">
		<a title="Email" href="mailto:marco.pavanello@protonmail.com">
			<img src="/images/logos/email.svg">
		</a>
		<a title="YouTube" href="https://www.youtube.com/c/Wolf3d">
			<img src="/images/logos/youtube.svg">
		</a>
		<a title="Mastodon" href="https://mastodon.online/@wolf3d">
			<img src="/images/logos/mastodon.svg">
		</a>
		<a title="Twitter" href="https://twitter.com/MarcoPPavanello">
			<img src="/images/logos/twitter.svg">
		</a>
		<a title="GitHub" href="https://github.com/marcopavanello">
			<img src="/images/logos/github.svg">
		</a>
	</div>

	<div class="space"></div>

</main>
