---
layout: base.njk
permalink: /info.html
title: Info

members: [
	"marco",
	"joseph"
]

stylesheets: [
    "/styles/style_info.css"
]
---

<main id="content">
	<h2>Members</h2>
	<div class="wolves">
		{% for member in members %}
			<a class="box {{ member }}" title="{{members_list[member].name}}" href="{{members_list[member].link}}">
				<img src="/images/logos/wolf.svg">
				<h2>{{members_list[member].name}}</h2>
			</a>
		{% endfor %}
	</div>

	<div class="space"></div>

	<h2>Who</h2>
	<p>We are a group of artists who use Blender 3D for making free and paid tools</p>

	<div class="space"></div>

	<div class="social">
		<ul>
			<li><a title="Email" href="mailto:wolf.art3d@gmail.com"><i class="fas fa-envelope"></i></a></li>
			<li><a title="Facebook" href="https://www.facebook.com/blenderwolf/"><i class="fab fa-facebook-f"></i></a></li>
			<li><a title="YouTube" href="https://www.youtube.com/c/Wolf3d"><i class="fab fa-youtube"></i></a></li>
			<li><a title="Twitter" href="https://twitter.com/MarcoPPavanello"><i class="fab fa-twitter"></i></a></li>
			<li><a title="GitHub" href="https://github.com/macio97?tab=repositories"><i class="fab fa-github"></i></a></li>
		</ul>
	</div>

	<div class="space"></div>
</main>
