---
layout: base.njk
permalink: /info.html
title: Info

members: [
	"marco"
]

stylesheets: [
    "/styles/style_info.css"
]
---


<main>
	<div class="space-small"></div>
	
	<h2>Members</h2>
	<div class="wolves">
		{% for member in members %}
			<a title="{{members_list[member].name}}" href="{{members_list[member].link}}">
				<img src="/images/logos/wolf.svg">
				<p>{{members_list[member].name}}</p>
			</a>
		{% endfor %}
	</div>

	<div class="space"></div>

	<div class="information">
		<h2>Who</h2>
		<p>I'm Marco and I am an artist, as of now Wolf is just a name used to identify what we do.
		<br>Most of the works you see here are products made with other artists.</p>

		<div class="space-small"></div>

		<h2>What</h2>
		<p>We use Blender and other free and open source software for making free and paid tools as well as movies.
		<br>Free and open source software is what we need to achieve a free (as in freedom) society.</p>

	<div class="space-small"></div>

	<div class="donation">
		<h2>Donate</h2>
		<p>We are currently aiming to replace our business model from selling assets to a donations system</p>
		<a title="LiberaPay" href="https://liberapay.com/3dwolf/donate">
			<img src="/images/logos/liberapay.svg">
		</a>
	</div>

	<div class="space"></div>

	<div class="social">
		<a title="Email" href="mailto:marco.pavanello@protonmail.com">
			<img src="/images/logos/email.svg">
		</a>
		<a title="PeerTube" href="https://videos.3d-wolf.com/">
			<img src="/images/logos/peertube.svg">
		</a>
		<a title="Mastodon" href="https://mastodon.online/@wolf3d">
			<img src="/images/logos/mastodon.svg">
		</a>
		<a title="Twitter" href="https://twitter.com/MarcoPPavanello">
			<img src="/images/logos/twitter.svg">
		</a>
		<a title="GitHub" href="https://github.com/marcopavanello">
			<img src="/images/logos/github.svg">
		</a>
	</div>

	<div class="space"></div>

</main>
