---
layout: base.njk
permalink: /products.html
title: Products

stylesheets: [
    "/styles/style_products.css",
    "/styles/style_color.css"
]
---

<main>
	<div class="space"></div>

	<div class="products">
		{%- for product in collections.products -%}
			<a href="{{ product.url | prettyURL }}" class="{{ product.fileSlug | lower }}">
				<div class="box">
					<div>
						<img src="/{{ product.data.icon }}">
					</div>
					<div>
						<h2>{{ product.data.name }}</h2>
						<p>{{ product.data.description_short }}</p>
					</div>
				</div>
			</a>
		{%- endfor -%}
	</div>

	<div class="space"></div>
</main>
