---
layout: base.njk
permalink: /products.html
title: Products
description:

stylesheets: [
    "/styles/style_products.css",
    "/styles/style_color.css"
]
---

<main id="content">
	<div class="space"></div>

	{%- for product in collections.products -%}
	<a href="{{ product.url }}" class="{{ product.data.name | lower }}">
		<div class="container">
			<div class="column left">
				{# Adding the `-` character ensures there is no whitespace #}
				<img class="{{- product.data.name | lower -}}img" src="/{{ product.data.icon }}" alt="{{ product.data.name }}">
			</div>
			<div class="column right">
				<h1>{{ product.data.name }}</h1>
				<p>{{ product.data.description }}</p>
			</div>
		</div>
	</a>
	{%- endfor -%}

	<div class="space"></div>
</main>

<a class="chat" href="javascript:void(Tawk_API.toggle())"><i class="fas fa-comment"></i></a>
<script src="/scripts/chat.js" type="text/javascript"></script>
