---
layout: base.njk
title: Products
description:

stylesheets: [
    "/styles/style_products.css",
    "/styles/style_color.css"
]
---

<main id="content">
	<div class="space"></div>
	<products_list_to_insert/>
	<div class="space"></div>
</main>

<a class="chat" href="javascript:void(Tawk_API.toggle())"><i class="fas fa-comment"></i></a>
<script src="/scripts/chat.js" type="text/javascript"></script>
