---
title: Interior
icon: images/products/models/icons/interior.svg

video: https://videos.3d-wolf.com/videos/embed/50eb0be4-f072-4183-9851-cb84df90b0d4

download_link: https://mega.nz/folder/VYxCnC4K#TFJJfog580dTiK9q43Twnw
members: [
	"marco",
	"joel"
]
license: CC-0
---

<h2>Items</h2>
<div class="supcontainer">
	{% for img in archdec %}
        <div class="container">
            <img src="/{{img}}">
        </div>
    {% endfor %}
</div>
