---
title: New assets pack coming
image: "images/news/2021-06-15/background.webp"
---


<p><a href="https://www.artstation.com/kless">Kless</a> and I are currently working on a new assets pack, it's going to be a pack of models of an urban city.
<br>Right now it's too early to tell how big it's going to be but we can say that it could be released around the end of July.
<br>Building these assets is necessary for the future short film we are working on.
<br>For the models, we are trying to make the shaders as procedural as possible, for example for the traffic cones we made use of a procedural hexagons texture.
<br>After the models are done, we are going to polish them and add dirt and other imperfections, then we are going to work on the trailer.</p>
