---
title: Introducing the News page
image: "images/news/2021-05-31.svg"
---


<p>Hello, I'm Marco and I'm keeping this website alive.
<br>First of all thank you everyone for supporting us by buying our <a href="/products">products</a>, we really hope they help you make better art.
<br>So, I thought it would be a better way to communicate with you through this sort of blog post place where we share the advancements of our projects as we go. Also it serves as a way to better explain the decisions we take.
<br>To start off let me explain who we are and what we do:
<br>I'm Marco Pavanello and I am 23 years old, currently I live in Italy and have been using <a href="https://www.blender.org/">Blender</a> since 2011, but started selling products about 4 years ago.
<br>"Wolf" is just a name as of today, but I'm willing to make it a recognized company in the future. What I've been doing over these years is basically assets and add-ons with both other artists and developers (<a href="https://www.artstation.com/stefan-thadeus-radenkovic">Stefan Radenkovic</a>, <a href="https://nathancraddock.com">Nathan Craddock</a>, <a href="https://www.artstation.com/joedowling">Joseph Dowling</a> and others...).
<br>My mission is to use Blender and other free and open source software to create assets, tools and ultimately movies.
<br>There are going to be many other posts after this one so further information will come.</p>
