---
title: Introducing CC-0 Models
image: "images/news/2021-06-28/background.webp"
---

<p>Starting from today the ArchDec models, which are 4 years old, are going to be available for free under the CC-0 licence in the new <a href="/products/models">Models</a> page.
<br>We are so releasing a new place to share our models under the CC-0 license, and many other models are planned to come in the future.
<br>This starts our long term plan to replace the actual income system we are using (which is through selling assets in a third party platform) to a donations system.
<br>More information will come about the plan.</p>
