/* Theme */
:root {
	--theme: var(--wolf);
	--img: var(--wolf-img);
}


a {
	color: var(--theme);
}

.background {
	text-align: center;
}

.background img {
	filter: var(--img);
	width: 100%;
}

.date {
	color: rgba(var(--theme), var(--medium-emphasis));
	text-align: center;
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.background {
		width: 100%;
	}
}

@media only screen and (min-width: 600px) {
	.background img {
		width: 400px;
	}
}
