---
layout: base.njk
---


<main>
	<p class="date">{{ page.date | dateformat }}</p>
	<h1>{{ title }}</h1>
	<div class="background">
		<img src="/{{ image }}">
	</div>

	<div class="space-small"></div>

	<div class="post">
		{{ content | safe }}
	</div>

	<div class="space"></div>
</main>
