---
layout: base.njk
---

{# This product page assumes a few things about each individual product #}

<main>
	<h1>{{ full_name }}</h1>
	<div class="video">
		<iframe width="560" height="315" src="{{ video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
		</iframe>
	</div>

	<div class="space"></div>

	<div class="halfpage">
		<div class="column">
			<div class="description">
				<h2>Description</h2>
				<p>{{ description }}</p>
			</div>
		</div>
		<div class="column">
			<div class="buttons">
				<a class="downstart" href="{{ download_link }}">
					{{ download_type }}
				</a>

				<a href="{{ guide_link }}">Guide</a>

				{%- if version -%}
					<button class="collapsible">Version</button>
					<div class="collap">						
						<p>{{ version }}</p>
					</div>
				{%- endif -%}

				{%- if changelog -%}
					<button class="collapsible">Changelog</button>
					<div class="collap">
						<p>{{ changelog | safe }}</p>
					</div>
				{%- endif -%}

				{%- if members -%}
					<button class="collapsible">Collaborators</button>
					<div class="collap">
						<div class="members">
							{% for member in members %}
								<a title="{{members_list[member].name}}" href="{{members_list[member].link}}">
									<img src="/images/logos/wolf.svg">
									<p>{{members_list[member].name}}</p>
								</a>
							{% endfor %}
						</div>
					</div>
				{%- endif -%}

				{%- if requirements -%}
					<button class="collapsible">Requirements</button>
					<div class="collap">
						<h2>Minimum</h2>
							{%- for req in requirements["minimum"] -%}
								<p> - {{ req }}</p>
							{%- endfor -%}
						<h2>Recommended</h2>
							{%- for req in requirements["recommended"] -%}
								<p> - {{ req }}</p>
							{%- endfor -%}
					</div>
				{%- endif -%}

				{%- if license -%}
					<button class="collapsible downend">License</button>
					<div class="collap license">
						<h2>{{ license }}</h2>
						<p>{{licenses_list[license].description}}</p>
					</div>
				{%- endif -%}
			</div>
		</div>
	</div>
	<div class="space"></div>

	{% if coverimg %}
	<div class="cover">
    	<img class="covimage panels" src="/{{ coverimg }}">
	</div>
    <div class="space"></div>
	{% endif %}

	{{ content | safe }}

	{% if renders %}
		<div class="space"></div>

		{% for render in renders %}
			<div class="parallax" style="background-image: url('{{ render['path'] }}');"></div>
		{% endfor %}
	{% endif %}
</main>

<div class="space"></div>

<script src="/scripts/collapsible.js" type="text/javascript"></script>
