/* Theme */
:root {
	--theme: var(--models);
	--img: var(--models-img);
}


.models h2 {
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}

.models p {
	margin-top: 0;
	margin-bottom: 0;
}

.models a {
	text-decoration: none;
}


/* Content */
.models {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 50px;
}

.box {
	width: 400px;
	height: 170px;
	margin: 2px;
	border-radius: var(--round);
	display: grid;
	grid-template-columns: 25% auto;
	place-items: center;
	text-align: center;
	transition: all 0.3s;
}

.box img {
	width: 80%;
}

.box div {
	width: 100%;
}


/* Box */
.models .box {
	background: rgba(var(--models), var(--dp1));
}
.models .box:hover {
	background: rgba(var(--models), var(--dp8));
}
.models h2 {
	color: rgba(var(--models), 1);
}
.models p {
	color: rgba(var(--models), var(--high-emphasis));
}
.models img {
	filter: var(--models-img);
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.models {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 5%;
	}
	.box {
		width: 100%;
	}
}
