---
permalink: /products/archdec.html
name: ArchDec
full_name: ArchDec
title: ArchDec
icon: images/products/archdec.svg

video: "https://www.youtube.com/embed/r8PHfRu44_U"
description: Archdec is an addon with 70 furniture and interior models
description_short: Pack of architecture decoration models

download_link: https://blendermarket.com/products/archdec
download_type: Buy
guide_link: https://drive.google.com/open?id=1BSXzs4XWmSKuReb_0NDV90TPUZ6Epu75iAd10j9l9-o
version: "1.3"
changelog: "- Blender 2.8 support<br>- Better asset management"
members: [
	"marco",
	"joel"
]
license: Standard Royalty Free
license_text: "You, the purchaser can use the product for personal, educational or commercial uses but: You can’t resell, redistribute, or repackage the purchased product without explicit permission from the author, You can't use the purchased product in a logo, watermark, or trademark of any kind except if it is a shader, a material or a texture."

comments_link: https://archdec.disqus.com/embed.js

stylesheets: [
    "/styles/products/style_archdec.css"
]
---

<div class="halfpage">
	<div class="column panel">
		<img class="panels" src="/images/archdec/panel.webp" alt="archdec panel">
	</div>
	<div class="column desc">
		<p>Joel and me worked on it for about 4 months, and finally we share it to you: architecture designers. This is a pack of 70 architecture interior and furniture models scaled using real world values and using PBR materials and textures
		</p>
	</div>
</div>

<div class="space"></div>

<h2>Models</h2>
<div class="supcontainer">
	{% for img in archdec %}
        <div class="container">
            <img src="/{{img}}">
        </div>
    {% endfor %}
</div>
