---
permalink: /products/archdec_2.html
name: ArchDec 2
full_name: ArchDec 2
title: ArchDec 2
icon: images/products/icons/archdec_2.svg

video: https://www.youtube-nocookie.com/embed/YnDP4D1adig
description: Archdec 2 is an add-on that allows you to easily add architecture decoration models to your scene
description_short: Pack of architecture decoration models

download_link: https://blendermarket.com/products/archdec-2
download_type: Buy
guide_link: https://cryptpad.fr/pad/#/2/pad/view/oDEi04U-vud8kL8XTuN8VquUS5Ju7GOTbdRwUs9+wFM/
version: "2.1"
changelog: "Make ArchDec 1 and 2 coexist together"
members: [
	"marco",
	"stefan"
]
license: Royalty Free

coverimg: "images/products/archdec_2/cover.webp"

renders: [
    "path": "/images/products/archdec_2/Chair.webp",
    "path": "/images/products/archdec_2/Kitchen.webp",
    "path": "/images/products/archdec_2/Desk.webp"
]

stylesheets: [
    "/styles/products/style_archdec_2.css"
]
---

<h2>Minimalism</h2>
<div class="halfpage">
	<div class="column panel">
		<img src="../images/products/archdec_2/sketch.webp">
	</div>
	<div class="column desc">
		<p>It contains 76 models made by hand that are based on a minimalist style, the ever growing architectural tendency of the modern era.</p>
	</div>
</div>

<div class="space"></div>

<h2>Items</h2>
<div class="supcontainer">
    {% for img in archdec_2 %}
        <div class="container">
            <img src="/{{img}}">
        </div>
    {% endfor %}
</div>
