---
layout: product.njk
title: ArchDec
name: ArchDec
icon: images/products/icons/archdec.svg

video: https://videos.3d-wolf.com/videos/embed/50eb0be4-f072-4183-9851-cb84df90b0d4
description: Archdec is an add-on with 70 furniture and interior models
description_short: Pack of architecture decoration models

download_link: https://blendermarket.com/products/archdec
download_type: Buy
guide_link: https://cryptpad.fr/pad/#/2/pad/view/xJ4oawwdb0Qs3KorvbHEm8e+AmE85VMwlOD84ilQFfw/
version: "1.3"
changelog: "- Blender 2.8 support<br>- Better asset management"
members: [
	"marco",
	"joel"
]
license: Royalty Free

stylesheets: [
	"/styles/style_common.css",
    "/styles/products/style_archdec.css"
]
---

<div class="halfpage">
	<div class="column panel">
		<img class="panels" src="/images/products/archdec/panel.webp" alt="archdec panel">
	</div>
	<div class="column desc">
		<p>Joel and me worked on it for about 4 months, and finally we share it to you: architecture designers. This is a pack of 70 architecture interior and furniture models scaled using real world values and using PBR materials and textures
		</p>
	</div>
</div>

<div class="space"></div>

<h2>Models</h2>
<div class="supcontainer">
	{% for img in archdec %}
        <div class="container">
            <img src="/{{img}}">
        </div>
    {% endfor %}
</div>
