---
permalink: /products/camera.html
name: Camera
full_name: Real Camera
title: Camera
icon: images/products/icons/camera.svg

video: "https://www.youtube.com/embed/lhY9E0bHwFE"
description: Real Camera is an add-on that allows you to control the Blender camera like a real camera
description_short: Add-on to control the camera

download_link: /products/camera/PBR%20Materials.zip
download_type: Download
guide_link: https://drive.google.com/open?id=1LGgi4pSmMhAc0kwZWhO2FuxRcJlPd_-SMTskKwCE1_g
version: "3.3"
changelog: "Fix autofocus not working on multiple cameras"
license: GPL

stylesheets: [
    "/styles/products/style_camera.css"
]
---

<div class="halfpage">
	<div class="column">
		<img class="chart" src="../images/products/camera/Chart.webp"></img>
	</div>
	<div class="column">
		<p>Understanding the behaviour of real world cameras is the base which this addon is built on</p>
	</div>
</div>

<div class="space"></div>

<h2>Auto Exposure</h2>
<div class="halfpage">
	<div class="column image1">
		<img class="image" src="../images/products/camera/Auto Exposure.webp"></img>
	</div>
	<div class="column image2">
		<img class="image" src="../images/products/camera/Auto Exposure panel.webp"></img>
	</div>
</div>

<div class="space"></div>

<h2>Auto Focus</h2>
<div class="halfpage">
	<div class="column image1">
		<img class="image" src="../images/products/camera/Auto Focus.webp"></img>
	</div>
	<div class="column image2">
		<img class="image" src="../images/products/camera/Real Camera panel.webp"></img>
	</div>
</div>

