---
permalink: /products/environments.html
name: Environments
full_name: Real Environments
title: Environments
icon: images/products/icons/environments.svg

video: "https://www.youtube.com/embed/SldvutMR7nY"
description: Real Environments is an addon that allows you to easily add procedural environments to your scene
description_short: Pack of procedural biomes

download_link: https://blendermarket.com/products/real-environments
download_type: Buy
guide_link: https://drive.google.com/open?id=1E_DhL1S3q38yxsMQuxh9dxv21Kiah-ZWsytT3GK2L3c
version: "1.0"
changelog: "First version for Blender 2.82"
requirements: {
    "minimum": ["16GB of RAM", "medium end CPU"],
    "recommended": ["32GB of RAM", "high end CPU"]
}
license: Standard Royalty Free

coverimg: "images/products/environments/cover.webp"

stylesheets: [
    "/styles/products/style_environments.css"
]
---

<h2>Procedural</h2>
<div class="videos">
    <video width="720" height="405" autoplay muted loop>
        <source src="../images/products/environments/location.webm" type="video/webm">
    </video>
    <video width="720" height="405" autoplay muted loop>
        <source src="../images/products/environments/rotation.webm" type="video/webm">
    </video>
    <video width="720" height="405" autoplay muted loop>
        <source src="../images/products/environments/scale.webm" type="video/webm">
    </video>
    <p>We deeply believe in a completely procedural future and this pack of biomes is another step toward that future<br>Since the biomes are 100% procedural, you can create an infinite amount of different patterns</p>
</div>

<div class="space"></div>

<h2>Biomes</h2>
<div class="fadeleft fadecol1">
    <div class="fadeimgleft" style="background-image: url('../images/products/environments/canyon.webp');"></div>
    <div class="fadetextleft">
        <h2>Canyon</h2>
    </div>
</div>
<div class="faderight fadecol2">
    <div class="fadeimgright" style="background-image: url('../images/products/environments/desert.webp');"></div>
    <div class="fadetextright">
        <h2>Desert</h2>
    </div>
</div>
<div class="fadeleft fadecol3">
    <div class="fadeimgleft" style="background-image: url('../images/products/environments/grassland.webp');"></div>
    <div class="fadetextleft">
        <h2>Grassland</h2>
    </div>
</div>
<div class="faderight fadecol4">
    <div class="fadeimgright" style="background-image: url('../images/products/environments/hills.webp');"></div>
    <div class="fadetextright">
        <h2>Hills</h2>
    </div>
</div>
<div class="fadeleft fadecol5">
    <div class="fadeimgleft" style="background-image: url('../images/products/environments/ice.webp');"></div>
    <div class="fadetextleft">
        <h2>Ice land</h2>
    </div>
</div>
<div class="faderight fadecol6">
    <div class="fadeimgright" style="background-image: url('../images/products/environments/islands.webp');"></div>
    <div class="fadetextright">
        <h2>Islands</h2>
    </div>
</div>
<div class="fadeleft fadecol7">
    <div class="fadeimgleft" style="background-image: url('../images/products/environments/lava.webp');"></div>
    <div class="fadetextleft">
        <h2>Lava land</h2>
    </div>
</div>
<div class="faderight fadecol8">
    <div class="fadeimgright" style="background-image: url('../images/products/environments/mountains.webp');"></div>
    <div class="fadetextright">
        <h2>Mountains</h2>
    </div>
</div>
<div class="fadeleft fadecol9">
    <div class="fadeimgleft" style="background-image: url('../images/products/environments/snow.webp');"></div>
    <div class="fadetextleft">
        <h2>Snow land</h2>
    </div>
</div>
<div class="faderight fadecol10">
    <div class="fadeimgright" style="background-image: url('../images/products/environments/snowy_mountains.webp');"></div>
    <div class="fadetextright">
        <h2>Snowy mountains</h2>
    </div>
</div>

<div class="space"></div>

<h2>Panel</h2>
<div class="halfpage">
    <div class="column panel">
        <img class="panels" src="../images/products/environments/panel.webp">
    </div>
    <div class="column desc">
        <p>This add-on comes with 10 different procedural biomes. The UI panel makes it easy for you to add the shaders. The materials adapt to the shape of whatever object you are applying it to.</p>
    </div>
</div>
