---
permalink: /products/grass.html
name: Grass
full_name: Real Grass
icon: images/products/grass.svg
coverimg: "images/grass/grass cover.webp"
video: "https://www.youtube.com/embed/qB1s9ot8Ocw"
description: Real Grass is an addon that allows you to add PBR based grass and weeds models to your scene
description_short: Real Grass is an addon that allows you to add PBR based grass and weeds models to your scene

download_link: https://blendermarket.com/products/real-grass
download_type: Buy
guide_link: https://drive.google.com/open?id=1O30DFkPnrUp9m6HnT3CEAiHP4mwwwUy8191oLouaHmQ
versions: [
    "1.0"
]
info_link:
changelog: First release
requirements: {
    "minimum": ["4GB of RAM", "medium end CPU"],
    "recommended": ["8GB of RAM", "high end CPU"]
}
license: Standard Royalty Free
license_text: "You, the purchaser can use the product for personal, educational or commercial uses but: You can’t resell, redistribute, or repackage the purchased product without explicit permission from the author, You can't use the purchased product in a logo, watermark, or trademark of any kind except if it is a shader, a material or a texture."

renders: [
    {
        "path": "/images/grass/Grass 1.webp",
        "alt": "Grass 1"
    },
    {
        "path": "/images/grass/Grass 2.webp",
        "alt": "Grass 2"
    },
    {
        "path": "/images/grass/Grass 3.webp",
        "alt": "Grass 3"
    }
]

stylesheets: [
    "/styles/products/style_grass.css"
]
---


<div class="halfpage">
	<div class="column panel">
		<img class="panels" src="/images/grass/grass panel.webp" alt="grass panel">
	</div>
	<div class="column desc">
		<p>Real Grass is an addon that allows you to create lawns and gardens with physically accurate grass and weeds models.
Based on real world grass shapes, it gives you nice grass distributions among your scene.<br>
The pack comes with:<br>
			<ul>
				<li><strong>8 Grass </strong>species with 10 variations each<br></li>
				<li><strong>3 Weeds </strong>species with 3 variations each</li>
			</ul>
		</p>
	</div>
</div>

<div class="space"></div>

<h2>Grass</h2>
<div class="supcontainer">
	<div class="container">
		<img src="/images/grass/Grass/Bahiagrass.webp" alt="Bahiagrass">
		<p>BahiaGrass</p>
	</div>
	<div class="container">
		<img src="/images/grass/Grass/Bermudagrass.webp" alt="Bermudagrass">
		<p>Bermudagrass</p>
	</div>
	<div class="container">
		<img src="/images/grass/Grass/Buffalograss.webp" alt="Buffalograss">
		<p>Buffalograss</p>
	</div>
	<div class="container">
		<img src="/images/grass/Grass/Carpetgrass.webp" alt="Carpetgrass">
		<p>Carpetgrass</p>
	</div>
	<div class="container">
		<img src="/images/grass/Grass/Kentucky Bluegrass.webp" alt="Kentucky Bluegrass">
		<p>Kentucky Bluegrass</p>
	</div>
	<div class="container">
		<img src="/images/grass/Grass/Perennial Ryegrass.webp" alt="Perennial Ryegrass">
		<p>Perennial Ryegrass</p>
	</div>
	<div class="container">
		<img src="/images/grass/Grass/Red Fescue.webp" alt="Red Fescue">
		<p>Red Fescue</p>
	</div>
	<div class="container">
		<img src="/images/grass/Grass/St. Augustine.webp" alt="St. Augustine">
		<p>St. Augustine</p>
	</div>
</div>

<div class="space"></div>

<h2>Weeds</h2>
<div class="supcontainer">
	<div class="container">
		<img src="/images/grass/Weeds/Buckhorn Plantain.webp" alt="Buckhorn Plantain">
		<p>Buckhorn Plantain</p>
	</div>
	<div class="container">
		<img src="/images/grass/Weeds/Clover.webp" alt="Clover">
		<p>Clover</p>
	</div>
	<div class="container">
		<img src="/images/grass/Weeds/Crabgrass.webp" alt="Crabgrass">
		<p>Crabgrass</p>
	</div>
	<div class="container">
		<img src="/images/grass/Weeds/Creeping Charlie.webp" alt="Creeping Charlie">
		<p>Creeping Charlie</p>
	</div>
	<div class="container">
		<img src="/images/grass/Weeds/Creeping Cinquefoil.webp" alt="Creeping Cinquefoil">
		<p>Creeping Cinquefoil</p>
	</div>
	<div class="container">
		<img src="/images/grass/Weeds/Dandelion.webp" alt="Dandelion">
		<p>Dandelion</p>
	</div>
</div>
		

