---
permalink: /products/grass.html
name: Grass
full_name: Real Grass
title: Grass
icon: images/products/icons/grass.svg

video: "https://www.youtube.com/embed/qB1s9ot8Ocw"
description: Real Grass is an add-on that allows you to add PBR based grass and weeds models to your scene
description_short: Pack of grass and weeds

download_link: https://blendermarket.com/products/real-grass
download_type: Buy
guide_link: https://drive.google.com/open?id=1O30DFkPnrUp9m6HnT3CEAiHP4mwwwUy8191oLouaHmQ
version: "1.0"
changelog: First release
requirements: {
    "minimum": ["4GB of RAM", "medium end CPU"],
    "recommended": ["8GB of RAM", "medium end CPU"]
}
license: Standard Royalty Free

coverimg: "images/products/grass/cover.webp"

renders: [
	"path": "/images/products/grass/Grass 1.webp",
	"path": "/images/products/grass/Grass 2.webp",
	"path": "/images/products/grass/Grass 3.webp"
]

stylesheets: [
    "/styles/products/style_grass.css"
]
---


<div class="halfpage">
	<div class="column panel">
		<img class="panels" src="/images/products/grass/grass panel.webp">
	</div>
	<div class="column desc">
		<p>Real Grass is an addon that allows you to create lawns and gardens with physically accurate grass and weeds models.
Based on real world grass shapes, it gives you nice grass distributions among your scene.<br>
The pack comes with:<br>
			<ul>
				<li><strong>8 Grass </strong>species with 10 variations each<br></li>
				<li><strong>3 Weeds </strong>species with 3 variations each</li>
			</ul>
		</p>
	</div>
</div>

<div class="space"></div>

<h2>Grass</h2>
<div class="supcontainer">
	{% for img in grass %}
        <div class="container">
            <img src="/{{img.path}}">
			<p>{{img.name}}</p>
        </div>
    {% endfor %}
</div>

<div class="space"></div>

<h2>Weeds</h2>
<div class="supcontainer">
	{% for img in weeds %}
        <div class="container">
            <img src="/{{img.path}}">
			<p>{{img.name}}</p>
        </div>
    {% endfor %}
</div>
		

