---
layout: product.njk
title: Materials
name: PBR Materials
icon: images/products/icons/materials.svg

video: https://videos.3d-wolf.com/videos/embed/c90c3d80-7f8a-41ac-9e01-a8b1bcca7340
description: PBR Materials is an add-on with physically based materials
description_short: Add-on to add physically based materials

download_link: /products/download/PBR%20Materials.zip
download_type: Download
guide_link: https://cryptpad.fr/pad/#/2/pad/view/+FWImyPmxZJrBxRa-WZQSji9zJckgO0WBsMiY6Gg4+c/
version: "3.5"
changelog: "Code refactor and bug fixes"
members: [
	"marco",
	"nathan"
]
license: GPL

stylesheets: [
    "/styles/style_common.css",
    "/styles/products/style_materials.css"
]
---

<h2>Dielectrics</h2>
<div class="supcontainer">
	{% for img in dielectrics %}
        <div class="container">
            <img src="/{{img.path}}">
			<p>{{img.name}}</p>
        </div>
    {% endfor %}
</div>

<div class="space"></div>

<h2>Metals</h2>
<div class="supcontainer">
	{% for img in metals %}
        <div class="container">
            <img src="/{{img.path}}">
			<p>{{img.name}}</p>
        </div>
    {% endfor %}
</div>

<div class="space"></div>

<h2>Textures</h2>
<div class="supcontainer">
	{% for img in textures %}
        <div class="container">
            <img src="/{{img.path}}">
			<p>{{img.name}}</p>
        </div>
    {% endfor %}
</div>
