---
permalink: /products/materials.html
name: Materials
full_name: PBR Materials
title: Materials
icon: images/products/icons/materials.svg

video: "https://www.youtube.com/embed/X4iOTFPG0Sc"
description: PBR Materials is an addon with physically based materials
description_short: Add-on to add physically based materials

download_link: /products/materials/PBR%20Materials.zip
download_type: Download
guide_link: https://drive.google.com/open?id=18UZmzWk_VNpiYEECtAnUiOnKeqfvNoFazflSNMsS8eA
version: "3.4"
changelog: "Fix class names"
members: [
	"marco",
	"nathan"
]
license: GPL

stylesheets: [
    "/styles/products/style_materials.css"
]
---

<h2>Dielectrics</h2>
<div class="supcontainer">
	{% for img in dielectrics %}
        <div class="container">
            <img src="/{{img.path}}">
			<p>{{img.name}}</p>
        </div>
    {% endfor %}
</div>

<div class="space"></div>

<h2>Metals</h2>
<div class="supcontainer">
	{% for img in metals %}
        <div class="container">
            <img src="/{{img.path}}">
			<p>{{img.name}}</p>
        </div>
    {% endfor %}
</div>

<div class="space"></div>

<h2>Textures</h2>
<div class="supcontainer">
	{% for img in textures %}
        <div class="container">
            <img src="/{{img.path}}">
			<p>{{img.name}}</p>
        </div>
    {% endfor %}
</div>
