---
permalink: /products/materials.html
name: Materials
full_name: PBR Materials
title: Materials
icon: images/products/materials.svg

video: "https://www.youtube.com/embed/X4iOTFPG0Sc"
description: PBR Materials is an addon with physically based materials
description_short: Add-on to add physically based materials

download_link: /products/download/PBR%20Materials.zip
download_type: Download
guide_link: https://drive.google.com/open?id=18UZmzWk_VNpiYEECtAnUiOnKeqfvNoFazflSNMsS8eA
version: "3.4"
changelog: "Fix class names"
license: GPL
license_text: "You can use the software for any purpose. You can change the software to suit your needs. You can share the software with your friends and neighbors. You can share the changes you make."

comments_link: https://materials.disqus.com/embed.js

stylesheets: [
    "/styles/products/style_materials.css"
]
---

<h2>Dielectrics</h2>
<div class="supcontainer">
	<div class="container">
		<img src="/images/materials/dielectrics/Acrylic Paint Black.webp" alt="Acrylic Paint Black">
		<p>Acrylic</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Acrylic Paint White.webp" alt="Acrylic Paint White">
		<p>Acrylic</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Asphalt New.webp" alt="Asphalt New">
		<p>Asphalt</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Asphalt Old.webp" alt="Asphalt Old">
		<p>Asphalt</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Atmosphere.webp" alt="Atmosphere">
		<p>Atmosphere</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Bark.webp" alt="Bark">
		<p>Bark</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Blood.webp" alt="Blood">
		<p>Blood</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Brick.webp" alt="Brick">
		<p>Brick</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Carbon.webp" alt="Carbon">
		<p>Carbon</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Car Paint.webp" alt="Car Paint">
		<p>Car Paint</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Ceramic.webp" alt="Ceramic">
		<p>Ceramic</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Chalk.webp" alt="Chalk">
		<p>Chalk</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Cloth.webp" alt="Cloth">
		<p>Cloth</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Cloud.webp" alt="Cloud">
		<p>Cloud</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Coal.webp" alt="Coal">
		<p>Coal</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Concrete.webp" alt="Concrete">
		<p>Concrete</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Curtain.webp" alt="Curtain">
		<p>Curtain</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Dielectric.webp" alt="Dielectric">
		<p>Dielectric</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Dirt.webp" alt="Dirt">
		<p>Dirt</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Grass.webp" alt="Grass">
		<p>Grass</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Leaf.webp" alt="Leaf">
		<p>Leaf</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Light.webp" alt="Light">
		<p>Light</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Mud.webp" alt="Mud">
		<p>Mud</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Ocean.webp" alt="Ocean">
		<p>Ocean</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Paper.webp" alt="Paper">
		<p>Paper</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Particles.webp" alt="Particles">
		<p>Particles</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Plaster.webp" alt="Plaster">
		<p>Plaster</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Plastic.webp" alt="Plastic">
		<p>Plastic</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Rock.webp" alt="Rock">
		<p>Rock</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Rubber.webp" alt="Rubber">
		<p>Rubber</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Rust.webp" alt="Rust">
		<p>Rust</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Sand.webp" alt="Sand">
		<p>Sand</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Skin.webp" alt="Skin">
		<p>Skin</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Snow.webp" alt="Snow">
		<p>Snow</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Transparent.webp" alt="Transparent">
		<p>Transparent</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Wax.webp" alt="Wax">
		<p>Wax</p>
	</div>
	<div class="container">
		<img src="/images/materials/dielectrics/Wood.webp" alt="Wood">
		<p>Wood</p>
	</div>
</div>

<div class="space"></div>

<h2>Metals</h2>
<div class="supcontainer">
	<div class="container">
		<img src="/images/materials/metals/Aluminium.webp" alt="Aluminium">
		<p>Aluminium</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Brass.webp" alt="Brass">
		<p>Brass</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Bronze.webp" alt="Bronze">
		<p>Bronze</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Chromium.webp" alt="Chromium">
		<p>Chromium</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Cobalt.webp" alt="Cobalt">
		<p>Cobalt</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Copper.webp" alt="Copper">
		<p>Copper</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Gallium.webp" alt="Gallium">
		<p>Gallium</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Gold.webp" alt="Gold">
		<p>Gold</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Iron.webp" alt="Iron">
		<p>Iron</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Lead.webp" alt="Lead">
		<p>Lead</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Mercury.webp" alt="Mercury">
		<p>Mercury</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Molybdenum.webp" alt="Molybdenum">
		<p>Molybdenum</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Nickel.webp" alt="Nickel">
		<p>Nickel</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Pewter.webp" alt="Pewter">
		<p>Pewter</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Platinum.webp" alt="Platinum">
		<p>Platinum</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Pot.webp" alt="Pot">
		<p>Pot</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Rhodium.webp" alt="Rhodium">
		<p>Rhodium</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Silver.webp" alt="Silver">
		<p>Silver</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Tin.webp" alt="Tin">
		<p>Tin</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Titanium.webp" alt="Titanium">
		<p>Titanium</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Tungsten.webp" alt="Tungsten">
		<p>Tungsten</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Vanadium.webp" alt="Vanadium">
		<p>Vanadium</p>
	</div>
	<div class="container">
		<img src="/images/materials/metals/Zinc.webp" alt="Zinc">
		<p>Zinc</p>
	</div>
</div>

<div class="space"></div>

<h2>Textures</h2>
<div class="supcontainer">
	<div class="container">
		<img src="/images/materials/textures/Bricks Texture.webp" alt="Bricks Texture">
		<p>Bricks</p>
	</div>
	<div class="container">
		<img src="/images/materials/textures/Cloth Texture.webp" alt="Cloth Texture">
		<p>Cloth</p>
	</div>
	<div class="container">
		<img src="/images/materials/textures/Cracks Texture.webp" alt="Cracks Texture">
		<p>Cracks</p>
	</div>
	<div class="container">
		<img src="/images/materials/textures/Dirt Texture.webp" alt="Dirt Texture">
		<p>Dirt</p>
	</div>
	<div class="container">
		<img src="/images/materials/textures/Drops Texture.webp" alt="Drops Texture">
		<p>Drops</p>
	</div>
	<div class="container">
		<img src="/images/materials/textures/Dust Texture.webp" alt="Dust Texture">
		<p>Dust</p>
	</div>
	<div class="container">
		<img src="/images/materials/textures/Fabric Texture.webp" alt="Fabric Texture">
		<p>Fabric</p>
	</div>
	<div class="container">
		<img src="/images/materials/textures/Leather Texture.webp" alt="Leather Texture">
		<p>Leather</p>
	</div>
	<div class="container">
		<img src="/images/materials/textures/Marble Texture.webp" alt="Marble Texture">
		<p>Marble</p>
	</div>
	<div class="container">
		<img src="/images/materials/textures/Plaster Texture.webp" alt="Plaster Texture">
		<p>Plaster</p>
	</div>
	<div class="container">
		<img src="/images/materials/textures/Rust Texture.webp" alt="Rust Texture">
		<p>Rust</p>
	</div>
	<div class="container">
		<img src="/images/materials/textures/Sand Texture.webp" alt="Sand Texture">
		<p>Sand</p>
	</div>
	<div class="container">
		<img src="/images/materials/textures/Scratches Texture.webp" alt="Scratches Texture">
		<p>Scratches</p>
	</div>
	<div class="container">
		<img src="/images/materials/textures/Wood Texture.webp" alt="Wood Texture">
		<p>Wood</p>
	</div>
</div>
