---
layout: base.njk
title: Models
icon: images/products/icons/models.svg

description_short: Free 3D model assets

stylesheets: [
    "/styles/products/style_models.css"
]
---

<main>
	<div class="space"></div>

	<div class="models">
        {%- for model in collections.models -%}
            <a href="{{ model.url | prettyURL }}">
                <div class="box">
                    <div>
                        <img src="/{{ model.data.icon }}">
                    </div>
                    <div>
                        <h2>{{ model.data.title }}</h2>
                    </div>
                </div>
            </a>
        {%- endfor -%}
    </div>

    <div class="space"></div>
</main>
