---
permalink: /products/sky.html
name: Sky
full_name: Real Sky
title: Sky
icon: images/products/sky.svg

video: https://www.youtube.com/embed/tHHnG1lo-Ys
description: Real Sky is an addon that allows you to create sky and clouds with physically based lighting
description_short: Add-on for procedural sky and clouds

download_link: https://blendermarket.com/products/real-sky
download_type: Buy
guide_link: https://drive.google.com/open?id=1S9Q_oA5d70zbz6rHzTgP8OL1nld-MNm1zVslmt0ve4M
version: "1.8"
changelog: Update to Blender 2.83
members: [
	"marco",
	"joe"
]
requirements: {
    "minimum": ["4GB of RAM", "medium end CPU"],
    "recommended": ["8GB of RAM", "high end CPU"]
}
license: Standard Royalty Free

coverimg: "images/sky/clouds cover.webp"

renders: [
	"path": "/images/sky/Clouds1.webp",
	"path": "/images/sky/Clouds2.webp",
	"path": "/images/sky/Clouds3.webp"
]

comments_link: https://sky-9.disqus.com/embed.js

stylesheets: [
    "/styles/products/style_sky.css"
]
---

<h2>Sky</h2>
<div class="halfpage">
	<div class="column1 panel">
		<img class="panels" src="/images/sky/sky panel.webp">
	</div>
	<div class="column2">
		<p>Based on physical formulas, it gives you the right lighting from the most common environment: the sky.
Real Sky accurately simulates the scattering of the sun’s rays through the Earth’s atmosphere at any given time of the year.
There are 2 sky method: our sky colors method and the traditional sky texture method.
Just by changing the month and day values you will get the accurate position of the sun in the sky, so you can create any kind of condition.</p>
		<div class="supcontainer">
			<div class="container">
				<img src="/images/sky/real sky.webp">
				<p>Real Sky</p>
			</div>
			<div class="container">
				<img src="/images/sky/hosek-wilkie.webp">
				<p>Hosek-Wilkie</p>
			</div>
		</div>
	</div>
</div>

<div class="space"></div>

<h2>Clouds</h2>
<div class="halfpage">
	<div class="column1 panel">
		<img class="panels" src="/images/sky/clouds panel.webp">
	</div>
	<div class="column2">
		<p>Not only the sky itself but also the four procedural clouds are based on real clouds shapes.
The clouds themselves have physically accurate materials to suit any kind of climate.
There are 4 of the most common clouds, and they are fully procedural:
Cirrus, Cirrocumulus, Altostratus and Cumulus.</p>
		<div class="supcontainer">
			<div class="container">
				<img src="/images/sky/Cirrus.webp">
				<p>Cirrus</p>
			</div>
			<div class="container">
				<img src="/images/sky/Cirrocumulus.webp">
				<p>Cirrocumulus</p>
			</div>
			<div class="container">
				<img src="/images/sky/Altostratus.webp">
				<p>Altostratus</p>
			</div>
			<div class="container">
				<img src="/images/sky/Cumulus.webp">
				<p>Cumulus</p>
			</div>
		</div>
	</div>
</div>

