---
permalink: /products/snow.html
name: Snow
full_name: Real Snow
title: Snow
icon: images/products/icons/snow.svg

video: "https://www.youtube.com/embed/VTFvIJ_9vbw"
description: Real Snow is an addon that allows you to add snow on top of objects
description_short: Add-on to add snow

download_link: https://github.com/macio97/Real-Snow
download_type: Download
guide_link: https://drive.google.com/open?id=1VLp-eG2WoiQ1DWCuXlM6cel4fR3mP3cgRA-VeMz6_DU
version: "1.0"
changelog: "First version"
requirements: {
    "minimum": ["4GB of RAM", "medium end CPU"],
    "recommended": ["8GB of RAM", "medium end CPU"]
}
license: GPL

coverimg: images/products/snow/cover.webp

renders: [
    "path": "/images/products/snow/Snow 1.webp",
    "path": "/images/products/snow/Snow 2.webp",
    "path": "/images/products/snow/Snow 3.webp"
]

stylesheets: [
    "/styles/products/style_snow.css"
]
---


<div class="halfpage">
	<div class="column panel">
		<img class="panels" src="../images/snow/UI.webp">
	</div>
	<div class="column desc">
		<p>Real Snow is an addon that allows you to easily add snow meshes on top of different objects. It automatically adds also a realistic PBR snow material to make the snow look good in every environment</p>
	</div>
</div>
