---
permalink: /products/trees.html
name: Trees
full_name: Real Trees
icon: images/products/tree.svg
coverimg: images/trees/Cover.webp
video: "https://www.youtube.com/embed/5PJZpulQkSE"
description: Real Trees is an addon that allows you to easily add realistic tree models in your scene
description_short: Real Trees is an addon that allows you to add high and low poly tree models

download_link: https://blendermarket.com/products/real-trees
download_type: Buy
guide_link: https://drive.google.com/open?id=1Pt5sdSKPZZ06tkQsIszrJ76ZLIVa5S9jsJbbLfu86ho
versions: [
    "1.1"
]
info_link:
changelog: "- Added Low Poly models<br>- Added normal maps to the High Poly models"
requirements: {
    "minimum": ["8GB of RAM", "medium end CPU"],
    "recommended": ["16GB of RAM", "high end CPU"]
}
license: Standard Royalty Free
license_text: "You, the purchaser can use the product for personal, educational or commercial uses but: You can’t resell, redistribute, or repackage the purchased product without explicit permission from the author, You can't use the purchased product in a logo, watermark, or trademark of any kind except if it is a shader, a material or a texture."

renders: [
    {
        "path": "/images/trees/Trees 1.webp",
        "alt": "trees 1"
    },
    {
        "path": "/images/trees/Trees 2.webp",
        "alt": "trees 2"
    },
    {
        "path": "/images/trees/Trees 3.webp",
        "alt": "trees 3"
    }
]

stylesheets: [
    "/styles/products/style_trees.css"
]
---

<div class="halfpage">
	<div class="column panel">
		<img class="panels" src="../images/trees/UI.webp" alt="trees panel">
	</div>
	<div class="column desc">
		<p>Real Trees is an addon that allows you to easily create forest and nature scenes. It contains 20 models of the most common trees in the world. You can use the High poly models for extreme close up scenes, while the Low poly models can be used to create forest scenes.
		</p>
	</div>
</div>

<div class="space"></div>

<h2>Features</h2>
<div class="supcontainer">
	<div class="container">
		<img src="../images/trees/Double.webp" alt="Double sided leaves">
		<p><b>Double sided leaves</b><br>so that you get much more realistic leaves from the 4K textures</p>
	</div>
	<div class="container">
		<img src="../images/trees/Bark.webp" alt="Bark">
		<p><b>Up to 6K textures</b><br>so that you get all the detail in close up scenes</p>
	</div>
	<div class="container">
		<img src="../images/trees/Poly.webp" alt="High and low poly trees">
		<p><b>High and low poly models</b><br>ready to use models both for close up and big forest scenes</p>
	</div>
</div>

<div class="space"></div>

<h2>Models</h2>
<div class="supcontainer">
	<div class="container">
		<img src="../images/trees/icons/American Beech.webp" alt="American Beech">
		<p>American Beech</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/American Elm.webp" alt="American Elm">
		<p>American Elm</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/American Larch.webp" alt="American Larch">
		<p>American Larch</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Ash.webp" alt="Ash">
		<p>Ash</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Basswood.webp" alt="Basswood">
		<p>Basswood</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Black Oak.webp" alt="Black Oak">
		<p>Black Oak</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Black Walnut.webp" alt="Black Walnut">
		<p>Black Walnut</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Cedar.webp" alt="Cedar">
		<p>Cedar</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Eastern Cottonwood.webp" alt="Eastern Cottonwood">
		<p>Eastern Cottonwood</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Eastern Hemlock.webp" alt="Eastern Hemlock">
		<p>Eastern Hemlock</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Eastern White Pine.webp" alt="Eastern White Pine">
		<p>Eastern White Pine</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Mahogany.webp" alt="Mahogany">
		<p>Mahogany</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Pin Cherry.webp" alt="Pin Cherry">
		<p>Pin Cherry</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Quaking Aspen.webp" alt="Quaking Aspen">
		<p>Quaking Aspen</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Red Maple.webp" alt="Red Maple">
		<p>Red Maple</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Red Spruce.webp" alt="Red Spruce">
		<p>Red Spruce</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Silver Birch.webp" alt="Silver Birch">
		<p>Silver Birch</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Sycamore.webp" alt="Sycamore">
		<p>Sycamore</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/Thuja.webp" alt="Thuja">
		<p>Thuja</p>
	</div>
	<div class="container">
		<img src="../images/trees/icons/White Spruce.webp" alt="White Spruce">
		<p>White Spruce</p>
	</div>
</div>

	
