---
name: Trees
full_name: Real Trees
title: Trees
icon: images/products/icons/tree.svg

video: https://videos.3d-wolf.com/videos/embed/ef1e3b3c-95ed-4e77-82bd-fe7035a74e95
description: Real Trees is an add-on that allows you to easily add realistic tree models in your scene
description_short: Pack of trees

download_link: https://blendermarket.com/products/real-trees
download_type: Buy
guide_link: https://cryptpad.fr/pad/#/2/pad/view/jeP48Ny0bXUzHis1sEVusIv9qCXFbDhF2T-a0D0OMHU/
version: "1.1"
changelog: "- Added Low Poly models<br>- Added normal maps to the High Poly models"
members: [
	"marco",
	"richard"
]
requirements: {
    "minimum": ["8GB of RAM", "medium end CPU"],
    "recommended": ["16GB of RAM", "high end CPU"]
}
license: Royalty Free

coverimg: images/products/trees/cover.webp

renders: [
	"path": "/images/products/trees/Trees 1.webp",
	"path": "/images/products/trees/Trees 2.webp",
	"path": "/images/products/trees/Trees 3.webp"
]

stylesheets: [
    "/styles/products/style_trees.css"
]
---

<div class="halfpage">
	<div class="column panel">
		<img class="panels" src="/images/products/trees/UI.webp">
	</div>
	<div class="column desc">
		<p>Real Trees is an addon that allows you to easily create forest and nature scenes. It contains 20 models of the most common trees in the world. You can use the High poly models for extreme close up scenes, while the Low poly models can be used to create forest scenes.
		</p>
	</div>
</div>

<div class="space"></div>

<h2>Features</h2>
<div class="supcontainer treefeatures">
	<div class="container">
		<img src="/images/products/trees/Double.webp">
		<p><b>Double sided leaves</b><br>with 4K textures you will get all the needed detail</p>
	</div>
	<div class="container">
		<img src="/images/products/trees/Bark.webp">
		<p><b>Up to 6K textures</b><br>so that you get all the detail in close up scenes</p>
	</div>
	<div class="container">
		<img src="/images/products/trees/Poly.webp">
		<p><b>High and low poly models</b><br>ready both for close up and big forest scenes</p>
	</div>
</div>

<div class="space"></div>

<h2>Models</h2>
<div class="supcontainer">
	{% for img in trees %}
        <div class="container">
            <img src="/{{img.path}}">
			<p>{{img.name}}</p>
        </div>
    {% endfor %}
</div>

	
