/* Theme */
:root {
	--logos: brightness(100%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--logos: var(--pebble-img);
	}
}

h1, h2, p {
	color: rgba(var(--pebble), 1);
}

p {
	text-align: center;
}


/* YouTube */
.video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: var(--round);
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* Content */
.title {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

.title img {
	width: 300px;
	filter: var(--pebble-img);
}

.supcontainer {
	padding: 0 5%;
	width: 100%;
	text-align: center;
}

.container {
	display: inline-block;
}

.container img {
	width: 128px;
	padding: 0 20px;
	filter: var(--logos);
}

.container p {
	text-align: center;
}


.description p {
	text-align: left;
}


/* Parallax */
.concept {
	position: relative;
	height: 100vh;
}

.concept-image {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.concept-filter-top {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(rgba(var(--body), 1)0%, rgba(0,0,0,0)25%);
}

.concept-filter-bottom {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(rgba(0,0,0,0)75%, rgba(var(--body), 1)100%);
}

.concept-description {
	position: absolute;
	display: block;
	width: 400px;
	height: 170px;
	background: rgba(0,0,0,0);
	backdrop-filter: blur(20px);
	border-radius: var(--round);
}

.concept-left {
	left: 10%;
}

.concept-right {
	right: 10%;
}

.concept-description h2, .concept-description p {
	color: rgba(var(--body), 1);
}


.process {
	width: 100%;
	text-align: center;
}

.process video {
	width: 60%;
	border-radius: var(--round);
	-webkit-tap-highlight-color: transparent;
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.title img {
		width: 70%;
	}
	.video {
		padding-bottom: 56.25%;
		width: 100%;
		left: 0;
	}
	.concept {
		height: 50vh;
	}
	.concept-image {
		background-attachment: scroll;
	}
	.concept-description h2, .concept-description p {
		color: rgba(var(--pebble), 1);
	}
	.concept-description {
		width: 100%;
		height: auto;
		backdrop-filter: blur(0);
	}
	.concept-left {
		left: 0;
		bottom: 0;
	}
	.concept-right {
		right: 0;
		top : 0;
	}
	.process video {
		width: 100%;
	}
}

@media only screen and (min-width: 600px) {
	.video {
		padding-bottom: 45%;
		width: 80%;
		left: 10%;
	}
}

@media only screen and (min-width: 992px) {
	.video {
		padding-bottom: 39.375%;
		width: 70%;
		left: 15%;
	}
	.concept-description {
		top: 30%;
	}
}