h1, h2, p {
	color: rgba(var(--pebble), 1);
}

p {
	text-align: center;
}
.collapsible {
	-webkit-tap-highlight-color: transparent;
}


/* YouTube */
.video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: var(--round);
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* Content */
.title {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

.title img {
	width: 300px;
	filter: var(--pebble-img);
}

.supcontainer {
	padding: 0 5%;
	width: 100%;
	text-align: center;
}

.container {
	display: inline-block;
}

.container img {
	width: 128px;
	padding: 0 20px;
	filter: var(--pebble-img);
}

.container p {
	text-align: center;
}

.column1 {
	float: left;
}

.column2 {
	float: left;
}

.column1 img {
	width: 70%;
	border-radius: var(--round);
}

/* Buttons */
.buttons {
	position: relative;
	text-align: center;
	display: inline-block;
	width: 200px;
	margin-top: 20px;
	left: 50%;
	margin-left: -100px;
}

.buttons a {
	display: block;
	font-size: 18px;
	color: rgb(var(--pebble));
	background: rgba(var(--pebble), var(--dp1));
	width: 200px;
	line-height: 2em;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s;
}

.buttons a:hover{
	background: rgba(var(--pebble), var(--dp8));
}

.buttons p {
	margin: 10px 0;
}

.downstart {
	border-radius: var(--round) var(--round) 0 0;
}

.downend {
	border-radius: 0 0 var(--round) var(--round);
}


/* Collapsible */
.collapsible {
	border: none;
	cursor: pointer;
	outline: none;
	font: normal 18px Montserrat;
	padding: 0;
	color: rgb(var(--pebble));
	background: rgba(var(--pebble), var(--dp1));
	text-decoration: none;
	transition: all 0.3s;
}

.collapsible:hover {
	background: rgba(var(--pebble), var(--dp8));
}

.buttons .collapsible {
	display: block;
	width: 200px;
	line-height: 2em;
	text-transform: uppercase;
}

.collap {
	background: rgba(var(--pebble), var(--dp1));
	border-radius: var(--round);
	padding: 0 10px;
	position: relative;
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.collap p {
	text-align: center;
}

.active {
	background: rgba(var(--pebble), var(--dp8));
}

.license img {
	filter: var(--pebble-img);
	width: 64px;
	margin: 0 10px;
}


/* Parallax */
.concept-top {
	position: relative;
	height: 100vh;
}

.concept-bottom {
	position: relative;
	height: 100vh;
}

.concept-image {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.concept-filter-top {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(rgba(var(--body), 1)0%, rgba(0,0,0,0)25%);
}

.concept-filter-bottom {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(rgba(0,0,0,0)75%, rgba(var(--body), 1)100%);
}

.concept-description {
	position: absolute;
	display: block;
	width: 400px;
	height: 170px;
	background: rgba(var(--body), 1);
	border-radius: var(--round);
}

.concept-left {
	left: 10%;
}

.concept-right {
	right: 10%;
}

.concept-description h2, .concept-description p {
	color: rgba(var(--pebble), 1);
}


.process {
	width: 100%;
	text-align: center;
}


/* Credits */
.credits {
	width: 100%;
	text-align: center;
	overflow-x: auto;
	white-space: nowrap;
}

.members {
	display: inline-block;
	vertical-align: top;
}

.members .collapsible {
	width: 150px;
	border-radius: var(--round);
}

.members .collapsible img {
	width: 100%;
	filter: var(--pebble-img);
}

.collap {
	background: rgba(var(--pebble), var(--dp1));
	border-radius: var(--round);
	max-height: 0;
	width: 100%;
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
}

.active {
	background: rgba(var(--pebble), var(--dp8));
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.title img {
		width: 70%;
	}
	.video {
		padding-bottom: 56.25%;
		width: 100%;
		left: 0;
	}
	.concept-top {
		height: 50vh;
		padding-bottom: 100px;
	}
	.concept-bottom {
		height: 50vh;
		padding-top: 100px;
	}
	.concept-image {
		background-attachment: scroll;
	}
	.concept-description h2, .concept-description p {
		color: rgba(var(--pebble), 1);
	}
	.concept-description {
		width: 100%;
		height: auto;
		backdrop-filter: blur(0);
	}
	.concept-left {
		left: 0;
		bottom: 0;
	}
	.concept-right {
		right: 0;
		top : 0;
	}
	.column1 {
		width: 100%;
		text-align: center;
	}
	.column2 {
		width: 100%;
	}
	.column2 p {
		text-align: center;
	}
	.buttons .collap {
		margin-left: calc(100px - 50vw);
		width: 100vw;
	}
}

@media only screen and (min-width: 600px) {
	.video {
		padding-bottom: 45%;
		width: 80%;
		left: 10%;
	}
	.column1 {
		width: 30%;
		text-align: right;
	}
	.column2 {
		width: 70%;
	}
	.column2 p {
		text-align: left;
	}
	.concept-description {
		top: 30%;
	}
	.buttons .collap {
		margin-left: -100px;
		width: 400px;
	}
}

@media only screen and (min-width: 992px) {
	.video {
		padding-bottom: 39.375%;
		width: 70%;
		left: 15%;
	}
}