/* Content */
.supcontainer {
	padding: 0 5%;
}

.container {
	display: inline-block;
}

.container img {
	width: 128px;
	padding: 0 20px;
}

.supcontainer {
	width: 100%;
	text-align: center;
}

.container p {
	text-align: center;
}


.container img {
	filter: var(--wolf-img);
}
