/* Theme */
:root {
	--theme: var(--wolf);
}

@media (prefers-color-scheme: dark) {
	:root {
		--theme: var(--textures);
		--collap: var(--textures-back);
		--collapdark: var(--textures-dark);
	}
}

/* Tabs */
.tab {
	overflow: hidden;
	text-align: center;
}

.tab button {
	background-color: var(--collap);
	font-size: 18px;
	color: var(--theme);
	width: 200px;
	display: inline-block;
	margin: 0 -3px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.tab button:first-child {
	border-radius: 8px 0 0 8px;
}

.tab button:nth-last-child(1) {
	border-radius: 0 8px 8px 0;
}

.tab button:hover {
	color: var(--body);
	background-color: var(--theme);
}

.tab button.active {
	color: var(--body);
	background-color: var(--theme);
}

.tabcontent {
	display: none;
	margin-top: 50px;
}


/* Contents */
.tex {
	position: absolute;
	width: 256px;
	opacity: 0;
	transition: all 0.3s;
	z-index: 1;
}

.tex a {
	display: block;
	font-size: 20px;
	color: var(--theme);
	width: 100%;
	line-height: 58px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.3s;
}

.tex a:hover {
	color: var(--body);
	background: var(--theme);
}

.tex p {
	text-align: center;
	margin: 10px 0;
}

.container:hover .tex {
	opacity: 1;
}

.halfpage1:after {
	content: "";
	display: table;
	clear: both;
}

.column1 {
	position: relative;
	width: 100px;
	margin-left: 78px;
	backdrop-filter: blur(30px);
}

.round1 {
	border-radius: 8px 8px 0 0;
}

.round2 {
	border-radius: 0 0 8px 8px;
}

.oldtex a {
	border-radius: 8px;
}
