/* Theme */
:root {
	--theme: var(--wolf);
}

@media (prefers-color-scheme: dark) {
	:root {
		--theme: var(--models);
		--collap: var(--models-back);
		--collapdark: var(--models-dark);
	}
}

/* Contents */
.tex {
	position: absolute;
	width: 256px;
	height: 256px;
	opacity: 0;
	transition: all 0.3s;
	z-index: 1;
}

.tex a {
	display: block;
	border-radius: 8px;
	backdrop-filter: blur(30px);
	font-size: 20px;
	color: var(--theme);
	background-color: var(--button);
	width: 100%;
	line-height: 58px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	transform: translateY(68px);
	transition: all 0.3s;
}

.tex a:hover {
	color: var(--body);
	background: var(--theme);
}

.tex p {
	text-align: center;
	margin: 10px 0;
}

.tex:hover .hovimg{
	opacity: 0.2;
}

.tex:hover {
	opacity: 1;
}

.hovimg {
	transition: all 0.3s;
}
