/* Theme */
:root {
	--theme: var(--wolf);
}

@media (prefers-color-scheme: dark) {
	:root {
	--theme: var(--grass);
	--collap: var(--grass-back);
	--collapdark: var(--grass-dark);
	}
}
	
/* Contents */
.column li {
	color: var(--theme);
}
