/* Theme */
:root {
	--theme: var(--materials);
	--collap: var(--materials-back);
	--collapdark: var(--materials-dark);
	--img: var(--materials-img);
	--img-hov: var(--materials-img-hov);
}

	
/* Content */
.supcontainer {
	width: 90%;
	margin-left: 5%;
}
