/* Theme */
:root {
	--theme: var(--sky);
	--collap: var(--sky-back);
	--collapdark: var(--sky-dark);
	--img: var(--sky-img);
	--img-hov: var(--sky-img-hov);
}


/* Content */
.column1 {
	float: left;
}

.column2 {
	float: left;
}

	
/* Responsive */
@media only screen and (max-width: 600px) {
	.column1 {
		width: 100%;
	}
	.column2 {
		width: 100%;
	}
}

@media only screen and (min-width: 600px) {
	.column1 {
		width: 100%;
	}
	.column2 {
		width: 100%;
	}
}

@media only screen and (min-width: 992px) {
	.column1 {
		width: 30%;
	}
	.column2 {
		width: 70%;
	}
}
