h1 {
	color: rgb(var(--theme));
}

h2 {
	color: rgb(var(--theme));
}

p {
	color: rgb(var(--theme));
}

.collapsible {
	-webkit-tap-highlight-color: transparent;
}


/* YouTube */
.video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: var(--round);
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* Buttons */
.buttons {
	position: relative;
	text-align: center;
	display: inline-block;
	width: 200px;
	margin-top: 20px;
	left: 50%;
	margin-left: -100px;
}

.buttons a {
	display: block;
	font-size: 18px;
	color: rgb(var(--theme));
	background: rgba(var(--theme), var(--dp1));
	width: 200px;
	line-height: 2em;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s;
}

.buttons a:hover{
	background: rgba(var(--theme), var(--dp8));
}

.buttons p {
	margin: 10px 0;
}

.downstart {
	border-radius: var(--round) var(--round) 0 0;
}

.downend {
	border-radius: 0 0 var(--round) var(--round);
}


/* Collapsible */
/* Collapsible */
.collapsible {
	border: none;
	cursor: pointer;
	outline: none;
	font: normal 18px Montserrat;
	padding: 0;
	color: rgb(var(--theme));
	background: rgba(var(--theme), var(--dp1));
	text-decoration: none;
	transition: all 0.3s;
}

.collapsible:hover {
	background: rgba(var(--theme), var(--dp8));
}

.buttons .collapsible {
	display: block;
	width: 200px;
	line-height: 2em;
	text-transform: uppercase;
}

.collap {
	background: rgba(var(--theme), var(--dp1));
	border-radius: var(--round);
	padding: 0 10px;
	position: relative;
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.collap p {
	text-align: center;
}

.active {
	background: rgba(var(--theme), var(--dp8));
}

.license img {
	filter: var(--img);
	width: 64px;
	margin: 0 10px;
}


/* Content */
.description {
	text-align: center;
	display: block;
	padding: 10px;
	background: rgba(var(--theme), var(--dp1));
	border-radius: var(--round);
}

.description p {
	text-align: center;
}

.panels {
	border-radius: var(--round);
	width: 250px;
}

.cover {
	text-align: center;
}

.container {
	display: inline-block;
	max-width: 500px;
}

.container p {
	text-align: center;
}

.supcontainer {
	width: 100%;
	text-align: center;
}


/* Members */
.members {
	text-align: center;
	overflow-x: auto;
	white-space: nowrap;
}

.members a {
	text-align: center;
	display: inline-block;
	text-decoration: none;
	text-transform: none;
	width: 150px;
	border-radius: var(--round);
	transition: all 0.3s;
}

.members p {
	margin: 0;
}

.members img {
	width: 100%;
	filter: var(--img);
}


/* Parallax Images */
.parallax {
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.description {
		margin-left: 5%;
		margin-right: 5%;
	}
	.video {
		padding-bottom: 56.25%;
		width: 100%;
		left: 0;
	}
	.covimage {
		width: 100%;
	}
	.panel {
		text-align: center;
	}
	.desc p {
		margin-right: 5%;
	}
	.collap {
		margin-left: calc(100px - 50vw);
		width: 100vw;
	}
	.parallax {
		height: 50vh;
		background-attachment: scroll;
	}
}

@media only screen and (min-width: 600px) {
	.description {
		margin-left: 10%;
		margin-right: 10%;
	}
	.video {
		padding-bottom: 45%;
		width: 80%;
		left: 10%;
	}
	.par-image {
		display: none;
	}
	.covimage {
		width: 70%;
	}
	.panel {
		text-align: center;
	}
	.desc p {
		margin-right: 5%;
	}
	.collap {
		margin-left: -100px;
		width: 400px;
	}
}

@media only screen and (min-width: 992px) {
	.description {
		margin-left: 20%;
		margin-right: 20%;
	}
	.video {
		padding-bottom: 39.375%;
		width: 70%;
		left: 15%;
	}
	.covimage {
		width: 70%;
	}
	.panel {
		text-align: right;
	}
	.desc p {
		margin-right: 30%;
	}
}
