/* Theme */
:root {
	--theme: var(--archdec_2-text);
	--collap: var(--archdec_2-box);
	--img: var(--archdec_2-img);
}


/* Content */
.supcontainer {
	padding: 0 5%;
}

.container img {
	border-radius: 14px;
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.container img {
		width: 128px;
	}
	.panel img {
		width: 90%;
	}
}

@media only screen and (min-width: 600px) {
	.container img {
		width: 200px;
	}
	.panel img {
		width: 600px;
	}
}
