@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');


/* Light/Dark theme */
:root {
	--draw: contrast(0%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--draw: contrast(103%);
	}
}


/* Wolf */
.wolf {
	text-align: center;
	width: 100%;
	height: 90%;
	position: fixed;
	bottom: 0;
}

.wolf img {
	height: 100%;
	padding: 10% 0 0 10%;
	filter: var(--menu-img) var(--draw);
}


/* Quotes */
.quotes {
	position: absolute;
	top: 50px;
	width: 100%;
	text-align: center;
}

.quotes script {
	overflow-y: scroll;
}

h2 {
	position: relative;
	font-family: 'Allura', cursive;
	font-size: 40px;
	font-weight: normal;
	opacity: 0.8;
	animation: fadein 3s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.wolf {
		height: 80%;
	}
	h2 {
		font-size: 35px;
	}
}
