/* Light/Dark theme */
:root {
	--theme: var(--wolf);
}

@media (prefers-color-scheme: dark) {
	:root {
		--theme: #00AAFE;
	}
}

p {
	text-align: center;
	margin: 30px 0 10px 0;
}

input {
	outline: none;
}

.error{
	background: #FF000044 !important;
}

.addp {
	color: var(--theme);
	text-align: center;
	width: 100%;
}

.addp input {
	background: #00AAFE33;
	color: var(--wolf);
	border: none;
	width: 250px;
	height: 35px;
	font-size: 16px;
	padding: 5px;
	border-radius: 8px;
	transition: all 0.3s;
}

.addp input:hover {
	background: #00AAFE55;
}

[type="file"] {
	display: none;
}

.fbut {
	background: #00AAFE33;
	color: var(--wolf);
	border-radius: 8px;
	cursor: pointer;
	font-size: 20px;
	width: 150px;
	height: 40px;
	padding-top: 7px;
	display: inline-block;
	vertical-align: middle;
	transition: all 0.3s;
}

.fbut:hover {
	color: var(--body);
	background: var(--wolf);
}

.subm input {
	background: #00AAFE33;
	color: var(--wolf);
	border: none;
	margin-top: 10px;
	width: 100px;
	height: 35px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 8px;
	transition: all 0.3s;
}

.subm input:hover {
	background: var(--wolf);
	color: var(--body);
}
