/* Content */
p {
	text-align: center;
}

.wolves {
	text-align: center;
	overflow-x: auto;
	white-space: nowrap;
}

.box {
	text-align: center;
	display: inline-block;
	text-decoration: none;
	margin: 0 20px;
	width: 180px;
	border-radius: 14px;
	transition: all 0.3s;
}

.box img {
	width: 100%;
}


/* Chat */
.chat {
	position: fixed;
	display: block;
	text-align: center;
	padding-top: 3px;
	font-size: 27px;
	color: var(--wolf-text);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	bottom: 20px;
	right: 20px;
}

.chat i {
	transform: scale(0.9, 1);
}


/* Marco */
.marco {
	background: rgba(var(--marco), var(--dp1));
}
.marco:hover {
	background: rgba(var(--marco), var(--dp8));
}
.marco p {
	color: rgba(var(--marco), 1);
}
.marco img {
	filter: var(--marco-img);
}

/* Joseph */
.joseph {
	background: rgba(var(--joseph), var(--dp1));
}
.joseph:hover {
	background: rgba(var(--joseph), var(--dp8));
}
.joseph p {
	color: rgba(var(--joseph), 1);
}
.joseph img {
	filter: var(--joseph-img);
}


/* Social Icons */
.social {
	display: block;
	margin-left: -45px;
}

.social ul {
	text-align: center;
	overflow-x: auto;
	white-space: nowrap;
}

.social ul li {
	list-style: none;
	display: inline-block;
}

.social ul li a {
	position: relative;
	font-size: 35px;
	color: #777;
	transition: .5s;
	margin: 0 20px;
}

.social ul li:nth-child(1) a:hover {
	color: #d44638;
}

.social ul li:nth-child(2) a:hover {
	color: #3b5998;
}

.social ul li:nth-child(3) a:hover {
	color: #ff0000;
}

.social ul li:nth-child(4) a:hover {
	color: #1da1f2;
}

.social ul li:nth-child(5) a:hover {
	color: #333333;
}
