/* Members */
.wolves {
	text-align: center;
	overflow-x: auto;
	white-space: nowrap;
}

.wolves a {
	background: rgba(var(--wolf), var(--dp1));
	text-align: center;
	display: inline-block;
	text-decoration: none;
	width: 150px;
	border-radius: var(--round);
	transition: all 0.3s;
}

.wolves a:hover {
	background: rgba(var(--wolf), var(--dp8));
}

.wolves p {
	color: rgba(var(--wolf), 1);
	text-align: center;
}

.wolves img {
	filter: var(--wolf-img);
	width: 100%;
}


.information p {
	text-align: center;
	color: rgba(var(--wolf), var(--high-emphasis));
}


/* Social */
.social {
	width: 100%;
	text-align: center;
}

.social a {
	width: 50px;
	display: inline-block;
	margin: 10px;
	padding: 5px;
	border-radius: var(--round);
	transition: all 0.3s;
}

.social a:hover {
	background: rgba(var(--wolf), var(--dp8));
}

.social img {
	filter: var(--wolf-img);
}
