h1 {
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
}


/* Sky */
.sky .container {
	background: var(--sky-back);
}
.sky .container:hover {
	background: var(--sky);
}
.sky h1, .sky p {
	color: var(--sky);
}
.skyimg {
	filter: var(--sky-img);
}
.container:hover .skyimg{
	filter: var(--sky-img-hov);
}

/* Grass */
.grass .container {
	background: var(--grass-back);
}
.grass .container:hover {
	background: var(--grass);
}
.grass h1, .grass p {
	color: var(--grass);
}
.grassimg {
	filter: var(--grass-img);
}
.container:hover .grassimg{
	filter: var(--grass-img-hov);
}

/* Trees */
.trees .container {
	background: var(--trees-back);
}
.trees .container:hover {
	background: var(--trees);
}
.trees h1, .trees p {
	color: var(--trees);
}
.treesimg {
	filter: var(--trees-img);
}
.container:hover .treesimg{
	filter: var(--trees-img-hov);
}

/* Environments */
.environments .container {
	background: var(--environments-back);
}
.environments .container:hover {
	background: var(--environments);
}
.environments h1, .environments p {
	color: var(--environments);
}
.environmentsimg {
	filter: var(--environments-img);
}
.container:hover .environmentsimg{
	filter: var(--environments-img-hov);
}

/* Materials */
.materials .container {
	background: var(--materials-back);
}
.materials .container:hover {
	background: var(--materials);
}
.materials h1, .materials p {
	color: var(--materials);
}
.materialsimg {
	filter: var(--materials-img);
}
.container:hover .materialsimg{
	filter: var(--materials-img-hov);
}

/* Camera */
.camera .container {
	background: var(--camera-back);
}
.camera .container:hover {
	background: var(--camera);
}
.camera h1, .camera p {
	color: var(--camera);
}
.cameraimg {
	filter: var(--camera-img);
}
.container:hover .cameraimg{
	filter: var(--camera-img-hov);
}

/* Textures */
.textures .container {
	background: var(--textures-back);
}
.textures .container:hover {
	background: var(--textures);
}
.textures h1, .textures p {
	color: var(--textures);
}
.texturesimg {
	filter: var(--textures-img);
}
.container:hover .texturesimg{
	filter: var(--textures-img-hov);
}

/* Models */
.models .container {
	background: var(--models-back);
}
.models .container:hover {
	background: var(--models);
}
.models h1, .models p {
	color: var(--models);
}
.modelsimg {
	filter: var(--models-img);
}
.container:hover .modelsimg{
	filter: var(--models-img-hov);
}

/* ArchDec */
.archdec .container {
	background: var(--archdec-back);
}
.archdec .container:hover {
	background: var(--archdec);
}
.archdec h1, .archdec p {
	color: var(--archdec);
}
.archdecimg {
	filter: var(--archdec-img);
}
.container:hover .archdecimg{
	filter: var(--archdec-img-hov);
}

/* ArchDec 2 */
.archdec_2 .container {
	background: var(--archdec_2-back);
}
.archdec_2 .container:hover {
	background: var(--archdec_2);
}
.archdec_2 h1, .archdec_2 p {
	color: var(--archdec_2);
}
.archdec_2img {
	filter: var(--archdec_2-img);
}
.container:hover .archdec_2img{
	filter: var(--archdec_2-img-hov);
}

/* Snow */
.snow .container {
	background: var(--snow-back);
}
.snow .container:hover {
	background: var(--snow);
}
.snow h1, .snow p {
	color: var(--snow);
}
.snowimg {
	filter: var(--snow-img);
}
.container:hover .snowimg{
	filter: var(--snow-img-hov);
}


/* Content */
.container {
	display: inline-block;
	transition: all 0.3s;
	border-radius: 15px;
	padding-top: 10px;
}

.container:hover p {
	color: var(--body);
}

.container:hover h1 {
	color: var(--body);
}

.column img {
	width: 90%;
	margin-top: .5em;
	float: right;
}

.container:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
}

.left {
	width: 20%;
}

.right {
	width: 80%;
}

#content {
	text-align: center;
}


@media only screen and (max-width: 600px) {
	.container {
		width: 90%;
		height: 13em;
	}
	h1 {
		font-size: 9vw;
	}
}

@media only screen and (min-width: 600px) {
	.container {
		width: 45%;
		height: 13em;
	}
	h1 {
		font-size: 4.5vw;
	}
}

@media only screen and (min-width: 992px) {
	.container {
		width: 40%;
		height: 12em;
	}
	h1 {
		font-size: 4vw;
	}
}

@media only screen and (min-width: 1500px) {
	.container {
		width: 25%;
		height: 11em;
	}
	h1 {
		font-size: 2.5vw;
	}
}
