/* Light/Dark theme */
:root {
	--theme: var(--wolf);
}

@media (prefers-color-scheme: dark) {
	:root {
		--theme: #00AAFE;
	}
}

input {
	outline: none;
}

.session {
	color: var(--theme);
	text-align: center;
}

.login {
	width: 100%;
	text-align: center;
}

.login input {
	background: #00AAFE33;
	color: var(--wolf);
	border: none;
	width: 250px;
	height: 35px;
	font-size: 16px;
	padding: 5px;
	transition: all 0.3s;
}

.login input:hover {
	background: #00AAFE55;
}

.usrn input {
	border-radius: 8px 8px 0 0;
	margin-top: 10px;
}

.pasw input {
	border-radius: 0 0 8px 8px;
}

.subm input {
	background: #00AAFE33;
	color: var(--wolf);
	border: none;
	margin-top: 10px;
	width: 70px;
	height: 35px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 8px;
	transition: all 0.3s;
}

.subm input:hover {
	background: var(--wolf);
	color: var(--body);
}
