/* Light/Dark theme */
:root {
	--sky: #00aaff;
	--grass: #00d423;
	--trees: #00901d;
	--environments: #a88f65;
	--archdec: #f19d36;
	--archdec_2: #ff986f;
	--materials: #e2431f;
	--camera: #8a8a8a;
	--snow: #96c6dd;

	--sky-back: #00aaff22;
	--grass-back: #00d42322;
	--trees-back: #00901d22;
	--environments-back: #a88f6522;
	--archdec-back: #f19d3622;
	--archdec_2-back: #ff986f22;
	--materials-back: #e2431f22;
	--camera-back: #8a8a8a22;
	--snow-back: #96c6dd22;

	--sky-dark: #00aaff11;
	--grass-dark: #00d42311;
	--trees-dark: #00901d11;
	--environments-dark: #a88f6511;
	--archdec-dark: #f19d3611;
	--archdec_2-dark: #ff986f11;
	--materials-dark: #e2431f11;
	--camera-dark: #8a8a8a11;
	--snow-dark: #96c6dd11;

	--sky-img-hov: invert(95%);
	--grass-img-hov: invert(95%);
	--trees-img-hov: invert(95%);
	--environments-img-hov: invert(95%);
	--archdec-img-hov: invert(95%);
	--archdec_2-img-hov: invert(95%);
	--materials-img-hov: invert(95%);
	--camera-img-hov: invert(95%);
	--snow-img-hov: invert(95%);

	--sky-img: invert(57%) sepia(32%) saturate(7492%) hue-rotate(173deg) brightness(102%) contrast(110%);
	--grass-img: invert(50%) sepia(43%) saturate(1826%) hue-rotate(91deg) brightness(104%) contrast(105%);
	--trees-img: invert(27%) sepia(94%) saturate(3139%) hue-rotate(130deg) brightness(94%) contrast(103%);
	--environments-img: invert(66%) sepia(9%) saturate(1459%) hue-rotate(359deg) brightness(87%) contrast(86%);
	--archdec-img: invert(59%) sepia(84%) saturate(427%) hue-rotate(348deg) brightness(99%) contrast(90%);
	--archdec_2-img: invert(74%) sepia(59%) saturate(1612%) hue-rotate(314deg) brightness(105%) contrast(101%);
	--materials-img: invert(29%) sepia(28%) saturate(2793%) hue-rotate(338deg) brightness(119%) contrast(109%);
	--camera-img: invert(59%) sepia(0%) saturate(14%) hue-rotate(139deg) brightness(93%) contrast(83%);
	--snow-img: invert(83%) sepia(11%) saturate(955%) hue-rotate(161deg) brightness(90%) contrast(91%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--sky-img-hov: var(--sky-img) brightness(40%);
		--grass-img-hov: var(--grass-img) brightness(40%);
		--trees-img-hov: var(--trees-img) brightness(40%);
		--environments-img-hov: var(--environments-img) brightness(40%);
		--archdec-img-hov: var(--archdec-img) brightness(40%);
		--archdec_2-img-hov: var(--archdec_2-img) brightness(40%);
		--materials-img-hov: var(--materials-img) brightness(40%);
		--camera-img-hov: var(--camera-img) brightness(40%);
		--snow-img-hov: var(--snow-img) brightness(40%);
	}
}
