/* Light/Dark theme */
:root {
	--sky: #00AAFE;
	--grass: #00E627;
	--trees: #268D3B;
	--environments: #A88F65;
	--materials: #E62B00;
	--camera: #D9D9D9;
	--textures: #A84BE6;
	--models: #676767;
	--archdec: #F39728;
	--snow: #BAE2F5;
	--sky-back: #00AAFE22;
	--grass-back: #00E62722;
	--trees-back: #268D3B22;
	--environments-back: #A88F6522;
	--materials-back: #E62B0022;
	--camera-back: #D9D9D922;
	--textures-back: #A84BE622;
	--models-back: #67676722;
	--archdec-back: #F3972822;
	--snow-back: #BAE2F522;
	--sky-dark: #00AAFE11;
	--grass-dark: #00E62711;
	--trees-dark: #268D3B11;
	--environments-dark: #A88F6511;
	--materials-dark: #E62B0011;
	--camera-dark: #D9D9D911;
	--textures-dark: #A84BE611;
	--models-dark: #67676711;
	--archdec-dark: #F3972811;
	--snow-dark: #BAE2F511;
	--sky-img-hov: invert(95%);
	--grass-img-hov: invert(95%);
	--trees-img-hov: invert(95%);
	--environments-img-hov: invert(95%);
	--archdec-img-hov: invert(95%);
	--materials-img-hov: invert(95%);
	--camera-img-hov: invert(95%);
	--textures-img-hov: invert(95%);
	--models-img-hov: invert(95%);
	--snow-img-hov: invert(95%);
	--sky-img: invert(54%) sepia(43%) saturate(4043%) hue-rotate(168deg) brightness(98%) contrast(103%);
	--grass-img: invert(51%) sepia(76%) saturate(1528%) hue-rotate(92deg) brightness(107%) contrast(114%);
	--trees-img: invert(40%) sepia(86%) saturate(396%) hue-rotate(81deg) brightness(93%) contrast(91%);
	--environments-img: invert(54%) sepia(30%) saturate(413%) hue-rotate(359deg) brightness(100%) contrast(95%);
	--archdec-img: invert(79%) sepia(39%) saturate(4621%) hue-rotate(342deg) brightness(99%) contrast(92%);
	--materials-img: invert(20%) sepia(48%) saturate(7496%) hue-rotate(13deg) brightness(99%) contrast(101%);
	--camera-img: invert(94%) sepia(1%) saturate(407%) hue-rotate(176deg) brightness(111%) contrast(70%);
	--textures-img: invert(32%) sepia(89%) saturate(2161%) hue-rotate(256deg) brightness(95%) contrast(89%);
	--models-img: invert(40%) sepia(0%) saturate(0%) hue-rotate(177deg) brightness(102%) contrast(90%);
	--snow-img: invert(90%) sepia(4%) saturate(2174%) hue-rotate(169deg) brightness(93%) contrast(108%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--sky-img-hov: var(--sky-img) brightness(40%);
		--grass-img-hov: var(--grass-img) brightness(40%);
		--trees-img-hov: var(--trees-img) brightness(40%);
		--environments-img-hov: var(--environments-img) brightness(40%);
		--archdec-img-hov: var(--archdec-img) brightness(40%);
		--materials-img-hov: var(--materials-img) brightness(40%);
		--camera-img-hov: var(--camera-img) brightness(40%);
		--textures-img-hov: var(--textures-img) brightness(40%);
		--models-img-hov: var(--models-img) brightness(40%);
		--snow-img-hov: var(--snow-img) brightness(40%);
	}
}
