main {
	text-align: center;
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
}


/* Sky */
.sky .box {
	background: rgba(var(--sky-box), var(--dp1));
}
.sky .box:hover {
	background: rgba(var(--sky-box), var(--dp8));
}
.sky h2, .sky p {
	color: var(--sky-text);
}
.sky img {
	filter: var(--sky-img);
}

/* Grass */
.grass .box {
	background: rgba(var(--grass-box), var(--dp1));
}
.grass .box:hover {
	background: rgba(var(--grass-box), var(--dp8));
}
.grass h2, .grass p {
	color: var(--grass-text);
}
.grass img {
	filter: var(--grass-img);
}

/* Trees */
.trees .box {
	background: rgba(var(--trees-box), var(--dp1));
}
.trees .box:hover {
	background: rgba(var(--trees-box), var(--dp8));
}
.trees h2, .trees p {
	color: var(--trees-text);
}
.trees img {
	filter: var(--trees-img);
}

/* Environments */
.environments .box {
	background: rgba(var(--environments-box), var(--dp1));
}
.environments .box:hover {
	background: rgba(var(--environments-box), var(--dp8));
}
.environments h2, .environments p {
	color: var(--environments-text);
}
.environments img {
	filter: var(--environments-img);
}

/* ArchDec */
.archdec .box {
	background: rgba(var(--archdec-box), var(--dp1));
}
.archdec .box:hover {
	background: rgba(var(--archdec-box), var(--dp8));
}
.archdec h2, .archdec p {
	color: var(--archdec-text);
}
.archdec img {
	filter: var(--archdec-img);
}

/* ArchDec 2 */
.archdec_2 .box {
	background: rgba(var(--archdec_2-box), var(--dp1));
}
.archdec_2 .box:hover {
	background: rgba(var(--archdec_2-box), var(--dp8));
}
.archdec_2 h2, .archdec_2 p {
	color: var(--archdec_2-text);
}
.archdec_2 img {
	filter: var(--archdec_2-img);
}

/* Materials */
.materials .box {
	background: rgba(var(--materials-box), var(--dp1));
}
.materials .box:hover {
	background: rgba(var(--materials-box), var(--dp8));
}
.materials h2, .materials p {
	color: var(--materials-text);
}
.materials img {
	filter: var(--materials-img);
}

/* Camera */
.camera .box {
	background: rgba(var(--camera-box), var(--dp1));
}
.camera .box:hover {
	background: rgba(var(--camera-box), var(--dp8));
}
.camera h2, .camera p {
	color: var(--camera-text);
}
.camera img {
	filter: var(--camera-img);
}

/* Snow */
.snow .box {
	background: rgba(var(--snow-box), var(--dp1));
}
.snow .box:hover {
	background: rgba(var(--snow-box), var(--dp8));
}
.snow h2, .snow p {
	color: var(--snow-text);
}
.snow img {
	filter: var(--snow-img);
}


/* Content */
.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 50px;
}

.box {
	width: 400px;
	height: 170px;
	margin: 2px;
	border-radius: 14px;
	display: grid;
	grid-template-columns: 25% auto;
	place-items: center;
	transition: all 0.3s;
}

.box img {
	width: 80%;
}

.box div {
	width: 100%;
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.products {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 5%;
	}
	.box {
		width: 100%;
	}
}
