main {
	text-align: center;
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
}


/* Sky */
.sky .box {
	background: var(--sky-back);
}
.sky .box:hover {
	background: var(--sky);
}
.sky h2, .sky p {
	color: var(--sky);
}
.skyimg {
	filter: var(--sky-img);
}
.box:hover .skyimg{
	filter: var(--sky-img-hov);
}

/* Grass */
.grass .box {
	background: var(--grass-back);
}
.grass .box:hover {
	background: var(--grass);
}
.grass h2, .grass p {
	color: var(--grass);
}
.grassimg {
	filter: var(--grass-img);
}
.box:hover .grassimg{
	filter: var(--grass-img-hov);
}

/* Trees */
.trees .box {
	background: var(--trees-back);
}
.trees .box:hover {
	background: var(--trees);
}
.trees h2, .trees p {
	color: var(--trees);
}
.treesimg {
	filter: var(--trees-img);
}
.box:hover .treesimg{
	filter: var(--trees-img-hov);
}

/* Environments */
.environments .box {
	background: var(--environments-back);
}
.environments .box:hover {
	background: var(--environments);
}
.environments h2, .environments p {
	color: var(--environments);
}
.environmentsimg {
	filter: var(--environments-img);
}
.box:hover .environmentsimg{
	filter: var(--environments-img-hov);
}

/* Materials */
.materials .box {
	background: var(--materials-back);
}
.materials .box:hover {
	background: var(--materials);
}
.materials h2, .materials p {
	color: var(--materials);
}
.materialsimg {
	filter: var(--materials-img);
}
.box:hover .materialsimg{
	filter: var(--materials-img-hov);
}

/* Camera */
.camera .box {
	background: var(--camera-back);
}
.camera .box:hover {
	background: var(--camera);
}
.camera h2, .camera p {
	color: var(--camera);
}
.cameraimg {
	filter: var(--camera-img);
}
.box:hover .cameraimg{
	filter: var(--camera-img-hov);
}

/* Textures */
.textures .box {
	background: var(--textures-back);
}
.textures .box:hover {
	background: var(--textures);
}
.textures h2, .textures p {
	color: var(--textures);
}
.texturesimg {
	filter: var(--textures-img);
}
.box:hover .texturesimg{
	filter: var(--textures-img-hov);
}

/* Models */
.models .box {
	background: var(--models-back);
}
.models .box:hover {
	background: var(--models);
}
.models h2, .models p {
	color: var(--models);
}
.modelsimg {
	filter: var(--models-img);
}
.box:hover .modelsimg{
	filter: var(--models-img-hov);
}

/* ArchDec */
.archdec .box {
	background: var(--archdec-back);
}
.archdec .box:hover {
	background: var(--archdec);
}
.archdec h2, .archdec p {
	color: var(--archdec);
}
.archdecimg {
	filter: var(--archdec-img);
}
.box:hover .archdecimg{
	filter: var(--archdec-img-hov);
}

/* ArchDec 2 */
.archdec_2 .box {
	background: var(--archdec_2-back);
}
.archdec_2 .box:hover {
	background: var(--archdec_2);
}
.archdec_2 h2, .archdec_2 p {
	color: var(--archdec_2);
}
.archdec_2img {
	filter: var(--archdec_2-img);
}
.box:hover .archdec_2img{
	filter: var(--archdec_2-img-hov);
}

/* Snow */
.snow .box {
	background: var(--snow-back);
}
.snow .box:hover {
	background: var(--snow);
}
.snow h2, .snow p {
	color: var(--snow);
}
.snowimg {
	filter: var(--snow-img);
}
.box:hover .snowimg{
	filter: var(--snow-img-hov);
}


/* Content */
.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 50px;
}

.box {
	width: 400px;
	height: 170px;
	margin: 2px;
	border-radius: 15px;
	display: grid;
	grid-template-columns: 25% auto;
	place-items: center;
	transition: all 0.3s;
}

.box img {
	width: 80%;
}

.box div {
	width: 100%;
}

.box:hover p {
	color: var(--body);
}

.box:hover h2 {
	color: var(--body);
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.products {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 5%;
	}
	.box {
		width: 100%;
	}
}
