/* Chat */
.chat {
	position: fixed;
	display: block;
	text-align: center;
	padding-top: 3px;
	font-size: 27px;
	color: rgb(var(--wolf));
	border-radius: 50%;
	width: 40px;
	height: 40px;
	bottom: 20px;
	right: 20px;
}

.chat i {
	transform: scale(0.9, 1);
}


/* Members */
.wolves {
	text-align: center;
	overflow-x: auto;
	white-space: nowrap;
}

.wolves a {
	background: rgba(var(--sky), var(--dp1));
	text-align: center;
	display: inline-block;
	text-decoration: none;
	margin: 0 20px;
	width: 150px;
	border-radius: var(--round);
	transition: all 0.3s;
}

.wolves a:hover {
	background: rgba(var(--sky), var(--dp8));
}

.wolves p {
	color: rgba(var(--sky), 1);
	text-align: center;
}

.wolves img {
	filter: var(--sky-img);
	width: 100%;
}


.information p {
	text-align: center;
}


/* Social */
.social {
	display: block;
	margin-left: -45px;
}

.social ul {
	text-align: center;
}

.social ul li {
	list-style: none;
	display: inline-block;
}

.social ul li a {
	position: relative;
	font-size: 35px;
	color: rgb(var(--wolf));
	transition: .5s;
	margin: 0 20px;
}

.social ul li:nth-child(1) a:hover {
	color: #d44638;
}

.social ul li:nth-child(2) a:hover {
	color: #3b5998;
}

.social ul li:nth-child(3) a:hover {
	color: #ff0000;
}

.social ul li:nth-child(4) a:hover {
	color: #1da1f2;
}

.social ul li:nth-child(5) a:hover {
	color: #333333;
}
