/* Theme */
:root {
	--theme: var(--wolf);
}

@media (prefers-color-scheme: dark) {
	:root {
		--theme: var(--materials);
		--collap: var(--materials-back);
		--collapdark: var(--materials-dark);
	}
}
	
/* Content */
.supcontainer {
	width: 90%;
	margin-left: 5%;
}
