/* Theme */
:root {
	--theme: var(--wolf);
}

@media (prefers-color-scheme: dark) {
	:root {
		--theme: var(--archdec);
		--collap: var(--archdec-back);
		--collapdark: var(--archdec-dark);
	}
}


/* Contents */
.test {
	width: 30%;
	margin-left: 35%;
}

img {
	width: 100%;
}
